/* Global Control Style - Start*/

@font-face {
    font-family: "Roboto";
    src: url("../../../../Common/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-weight: bold;
    font-style: italic;
    src: url("../../../../Common/fonts/Roboto/Roboto-BoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: italic;
    src: url("../../../../Common/fonts/Roboto/Roboto-italic.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-weight: bold;
    src: url("../../../../Common/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}

.headerLogo {
    margin-left: 35px;
    margin-top: 10px;
}

.breadcrumb {
    background-color: #F3F4F5;
    height: 52px;
    position: relative;
}

.actionItem {
    display: table-cell;
    height: 100%;
    position: absolute;
}

.menuButton {
    display: table-cell;
    height: 52px;
    vertical-align: middle;
    cursor: pointer;
}

    .menuButton img {
        margin-left: 20px;
        margin-right: 5px;
        margin-top: 4px;
        margin-bottom: 10px;
        vertical-align: middle;
    }

    .menuButton div {
        display: none;
    }

        .menuButton div:hover {
            overflow: visible;
        }

.actionBarDiv {
    /*background-color:#0CC;
    display: table-cell;*/
    height: 100%;
    position: relative;
    width: 100%;
    vertical-align: middle;
    line-height: normal;
}

.mainDiv {
    height: calc(100% - 52px) !important;
    overflow: hidden;
    position: relative;
}

.mainDiv1 {
    height: calc(100% - 52px);
    overflow: hidden;
    position: relative;
}

.cont_click {
    height: 40px;
    position: absolute;
    top: 62px;
    width: 100%;
    left: 0;
    cursor: pointer;
}



body.mobile .header {
    background-color: #bbb;
}


body.mobile .breadcrumb {
    background-color: rgba(0,0,0,0);
    height: 60px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}

body.mobile .actionItem {
    background-color: rgba(0,0,0,0);
    height: 60px !important;
    max-width: 320px;
    min-width: 320px;
    position: relative;
}

body.mobile .menuButton {
    cursor: pointer;
    display: table-cell;
    height: 60px;
    padding-left: 240px;
    text-align: center;
    vertical-align: middle;
    width: 40px;
}

    body.mobile .menuButton div {
        display: none;
    }

body.mobile .actionBarDiv {
    display: none;
}

body.mobile .windowBtns {
    display: none;
}

body.mobile .cont_click {
    top: 42px;
}


/* Global Control Style - End */

/* Start Actionbar Styles - Start*/
.actionBar {
    background-color: #F3F4F5;
    width: 100%;
    height: 52px;
    font-family: "Roboto", "Segoe UI", "Arial", "Verdana";
    position: relative;
    z-index: 12;
}

    .actionBar .leftMenu {
        left: 0;
        position: absolute;
        z-index: 11003;
    }

    .actionBar .rightMenu {
        right: 150px;
        position: absolute;
        z-index: 11003;
    }

    .actionBar .menuItem {
        display: inline-block;
        text-align: center;
        padding: 5px 5px 5px;
        font-size: 12px;
        position: relative;
        min-width: 56px;
        max-width: 136px;
        cursor: pointer;
        height: 42px;
        vertical-align: middle;
    }

        .actionBar .menuItem .content {
            display: inline-block;
            min-width: 55px;
            max-width: 135px;
        }

            .actionBar .menuItem .content .icon {
                width: 25px;
                display: inline-block;
                height: 25px;
            }

            .actionBar .menuItem .content .name {
                color: black;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

        .actionBar .menuItem:hover .icon {
            background-color: #5B6BE3;
        }

        .actionBar .menuItem:hover .name {
            color: #000;
        }

        .actionBar .menuItem .downArrow {
            border-color: rgba(0, 0, 0, 0) #000000 #000000 rgba(0, 0, 0, 0);
            border-width: 1px;
            border-style: solid;
            transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            line-height: 0px;
            font-size: 0px;
            width: 7px;
            height: 7px;
            background-color: rgba(0,0,0,0);
            position: absolute;
            top: 14px;
            right: 5px;
        }

    .actionBar .separator {
        width: 1px;
        background-color: #a1afba;
        display: inline-block;
        height: 42px;
        position: relative;
        vertical-align: middle;
    }

    .actionBar .subMenu, .actionBar .subSubMenu {
        position: absolute;
        height: 52px;
        background-color: #E4E8F9;
        box-shadow: inset 0 0 0 1px #8994E9;
        -webkit-box-shadow: inset 0 0 0 1px #8994E9;
        top: 51px;
        z-index: 11002;
    }

    .actionBar .subSubMenu {
        background-color: #999;
        z-index: 11001;
    }

    .actionBar .menuItem.selected, .actionBar .menuItem.subSelected {
        background-color: #E9EBFC;
        z-index: 11000;
        box-shadow: inset -1px 0px 0px 0px #a1afba, inset 1px 1px 0px 0px #8994E9;
        -webkit-box-shadow: inset -1px 0px 0px 0px #a1afba, inset 1px 1px 0px 0px #8994E9;
        -moz-box-shadow: inset -1px 0px 0px 0px #a1afba, inset 1px 1px 0px 0px #8994E9;
    }

    .actionBar .menuItem.subSelected {
        background-color: #999;
    }

        .actionBar .menuItem.selected .downArrow, .actionBar .menuItem.subSelected .downArrow {
            border-color: #000000 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #000000;
            margin-top: 6px;
        }

    .actionBar .selectedPrev, .actionBar .selectedNext {
        background-color: rgba(224,225,220,1.0);
    }

    .actionBar.mobile {
        bottom: 0;
        left: 0;
        max-width: 320px;
        position: absolute;
        background-color: #e0e1dd;
        z-index: 10000;
    }

        .actionBar.mobile .leftMenu {
            display: table;
            table-layout: fixed;
            float: none;
            width: 100%;
        }

        .actionBar.mobile .rightMenu {
            background-color: #e0e1dd;
            float: left;
            position: absolute;
            left: 0;
            top: 0;
            right: initial;
            display: table;
            table-layout: fixed;
            width: 100%;
        }

        .actionBar.mobile .menuItem {
            display: table-cell;
            min-width: initial;
            max-width: initial;
            width: 100%;
        }

            .actionBar.mobile .menuItem.selected, .actionBar.mobile .menuItem.subSelected {
                background-color: #999999;
                box-shadow: inset 0 0 0 0 #000000;
                -webkit-box-shadow: inset 0 0 0 0 #000000;
            }

        .actionBar.mobile .subMenu, .actionBar.mobile .subSubMenu {
            box-shadow: inset 0 0 0 0 #000000;
            -webkit-box-shadow: inset 0 0 0 0 #000000;
            top: auto;
            bottom: 55px;
            background-color: #999999;
            display: table;
            table-layout: fixed;
            width: 100%;
        }

        .actionBar.mobile .menuItem .downArrow {
            display: none;
        }

        .actionBar.mobile .separator {
            width: 0px;
            display: none;
        }

        .actionBar.mobile .menuItem .content .name {
            display: none;
        }

.menuItemDisabled {
    opacity: 0.3;
}

    .menuItemDisabled:hover .icon {
        background-color: rgba(0,0,0,0) !important;
    }

/* Start Actionbar Styles - End*/

/* Start Menu Styles - Start*/

.menuParent {
    width: 100%;
    position: absolute;
    z-Index: 10000;
}

#mainMenuDiv {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.subMenuBg {
    position: absolute;
    z-index: 9000;
    background-color: white;
    height: 100%;
    top: 0;
    left: 0;
}

#Menu0 {
    position: relative;
    display: inline-block;
    vertical-align: top;
    left: -230px;
    top: 0px;
    background-color: #007626;
    min-width: 230px;
    max-width: 230px;
    height: calc(100% - 9px) !important;
    font-family: "Roboto", "Segoe UI", "Arial", "Verdana";
    font-size: 14px;
    overflow: hidden;
    white-space: normal;
    z-index: 10000;
    margin: 0px;
}

    #Menu0 .menuContent {
        overflow-x: hidden;
        overflow-y: scroll;
        padding-right: 30px;
        width: 100%;
        height: 100%;
    }

    #Menu0 .menuItem {
        padding: 7px 35px;
        color: white;
        cursor: pointer;
        display: table;
        position: relative;
    }

        #Menu0 .menuItem .title {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 180px;
            display: inline-block;
            margin-top: 2px;
        }

        #Menu0 .menuItem:hover {
            background-color: #5B6BE3;
        }

        #Menu0 .menuItem.selected {
            background-color: #4D5EE0;
        }

    #Menu0 .menuContent .menuItem:first-child {
        margin-top: 10px;
    }

    #Menu0 .menuContent .menuItem:last-child {
        margin-bottom: 40px;
    }

    #Menu0 .menuItem .subMenuIndicator {
        border-right: 2px solid white;
        border-top: 2px solid white;
        border-left: 2px solid rgba(0, 0, 0, 0);
        border-bottom: 2px solid rgba(0, 0, 0, 0);
        transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        position: absolute;
        top: 12px;
        right: 35px;
        line-height: 0px;
        font-size: 0px;
        padding: 3px;
        margin: 3px;
    }

    #Menu0 .scrollTop {
        position: absolute;
        left: 0;
        top: 0;
        box-shadow: 0 0 25px 25px #4D5EE0;
        -webkit-box-shadow: 0 0 25px 25px #4D5EE0;
        width: 100%;
        padding: 0px;
        height: 24px;
        background-color: #4D5EE0;
        z-index: 100;
        display: none;
    }

    #Menu0 .scrollBottom {
        position: absolute;
        left: 0;
        bottom: 0;
        box-shadow: 0 0 25px 25px #4D5EE0;
        -webkit-box-shadow: 0 0 25px 25px #4D5EE0;
        width: 100%;
        padding: 0px;
        height: 24px;
        background-color: #4D5EE0;
        z-index: 100;
    }

    #Menu0 .scrollTop .arrowUp {
        border-left: 2px solid white;
        border-top: 2px solid white;
        transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        line-height: 0px;
        font-size: 0px;
        padding: 8px;
        margin: 20px calc(50% - 10px) 0px;
        width: 0px;
        border-right: 2px solid rgba(0, 0, 0, 0);
        border-bottom: 2px solid rgba(0, 0, 0, 0);
    }

    #Menu0 .scrollBottom .arrowDown {
        border-right: 2px solid white;
        border-bottom: 2px solid white;
        border-left: 2px solid rgba(0, 0, 0, 0);
        border-top: 2px solid rgba(0, 0, 0, 0);
        transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        line-height: 0px;
        font-size: 0px;
        padding: 8px;
        margin: -10px calc(50% - 10px) 0px;
        width: 0px;
    }

.SubMenu {
    position: relative;
    display: inline-block;
    vertical-align: top;
    top: 0px;
    background-color: #FFF;
    left: -300px;
    min-width: 300px;
    max-width: 300px;
    height: calc(100% - 52px) !important;
    font-family: "Roboto", "Segoe UI", "Arial", "Verdana";
    font-size: 14px;
    overflow: hidden;
}

    .SubMenu .menuContent {
        overflow-x: hidden;
        overflow-y: scroll;
        width: 100%;
        height: 100%;
        padding-right: 30px;
        box-shadow: inset -31px 0 0 0px #999;
    }

        .SubMenu .menuContent.subchild {
            /** border-right: 1px solid #ccc; **/
            box-shadow: inset -31px 0 0 0px #999;
            -webkit-box-shadow: inset -31px 0 0 0px #999;
        }

    .SubMenu .menuItem {
        padding: 12px 14px 12px 25px;
        cursor: pointer;
        position: relative;
        display: table;
    }

    .SubMenu .menuContent .menuItem:first-child {
        margin-top: 40px;
    }

    .SubMenu .menuContent .menuItem:last-child {
        margin-bottom: 40px;
    }

    .SubMenu .menuItem:hover, .SubMenu .menuItem.selected {
        background-color: #E9EBFC;
    }

    .SubMenu .menuItem .icon {
        width: 30px;
        display: inline-block;
        margin-right: 20px;
        margin-top: 5px;
        overflow: hidden;
    }

        .SubMenu .menuItem .icon img {
            width: 30px;
            height: 30px;
        }

    .SubMenu .menuItem .menuTitle {
        display: inline-block;
    }

    .SubMenu .menuItem .title {
        font-size: 14px;
        color: #000;
        margin-bottom: 5px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 210px;
    }

    .SubMenu .menuItem .desc {
        font-size: 12px;
        color: #666;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 210px;
    }

    .SubMenu .menuItem .subMenuIndicator {
        border-right: 1px solid #000;
        border-top: 1px solid #000;
        border-left: 1px solid rgba(0, 0, 0, 0);
        border-bottom: 1px solid rgba(0, 0, 0, 0);
        transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        line-height: 0px;
        font-size: 0px;
        position: absolute;
        top: 26px;
        right: 45px;
        width: 12px;
        height: 12px;
    }

    .SubMenu .scrollTop {
        position: absolute;
        left: 0;
        top: 0;
        box-shadow: 0 0 25px 25px #E9EBFC;
        -webkit-box-shadow: 0 0 25px 25px #E9EBFC;
        width: 100%;
        padding: 0px;
        height: 24px;
        background-color: #E9EBFC;
        z-index: 100;
        display: none;
    }

    .SubMenu .scrollBottom {
        position: absolute;
        left: 0;
        bottom: 0;
        box-shadow: 0 0 25px 25px #E9EBFC;
        -webkit-box-shadow: 0 0 25px 25px #E9EBFC;
        width: 100%;
        padding: 0px;
        height: 24px;
        background-color: #E9EBFC;
        z-index: 100;
    }

    .SubMenu .scrollTop .arrowUp {
        border-left: 2px solid black;
        border-top: 2px solid black;
        transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        line-height: 0px;
        font-size: 0px;
        padding: 8px;
        margin: 20px calc(50% - 10px) 0px;
        width: 0px;
        border-right: 2px solid rgba(0, 0, 0, 0);
        border-bottom: 2px solid rgba(0, 0, 0, 0);
    }

    .SubMenu .scrollBottom .arrowDown {
        border-right: 2px solid black;
        border-bottom: 2px solid black;
        border-left: 2px solid rgba(0, 0, 0, 0);
        border-top: 2px solid rgba(0, 0, 0, 0);
        transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        line-height: 0px;
        font-size: 0px;
        padding: 8px;
        margin: -10px calc(50% - 10px) 0px;
        width: 0px;
    }

#mainMenuDiv.mobile #Menu0 {
    display: block;
    max-width: 320px;
    min-width: 320px;
}

#mainMenuDiv.mobile .SubMenu {
    display: block;
    max-width: 320px;
    min-width: 320px;
    position: absolute;
}

#mainMenuDiv.mobile #Menu0 .menuItem {
    min-width: 270px;
}

#mainMenuDiv.mobile #SubMenu .menuItem {
    min-width: 240px;
}

#mainMenuDiv.mobile .SubMenu .menuItem .icon {
    display: none;
}

#mainMenuDiv.mobile .SubMenu .menuItem .title {
    width: 230px;
}

#mainMenuDiv.mobile .SubMenu .menuItem .desc {
    display: none;
}

#mainMenuDiv.mobile .SubMenu .menuItem .subMenuIndicator {
    top: 18px;
}

.menuBackButton {
    background-color: #BBBBBB;
    display: none;
    height: 60px;
    left: 0;
    position: absolute;
    top: 0px;
    vertical-align: middle;
    width: 180px;
    z-index: 15000;
    color: white;
    cursor: pointer;
}

    .menuBackButton div {
        display: inline-table;
        margin-left: 40px;
        margin-top: 19px;
        vertical-align: middle;
    }

/* Menu Styles -End*/

/* Context Menu Styles -Start*/

#_contextMenu {
    position: absolute;
    display: none;
    opacity: 0;
    left: 0;
    top: 0;
    min-width: 100px;
    max-width: 516px;
    min-height: 103px;
    max-height: 103px;
    overflow: hidden;
}

    #_contextMenu ._contextMenuMain {
        background-color: white;
        border: 1px solid #ccc;
        min-height: 90px;
        max-height: 90px;
        margin-top: 11px;
        overflow: hidden;
        position: relative;
    }

        #_contextMenu ._contextMenuMain.alignTop {
            margin-top: 0px;
        }

    #_contextMenu ._menuContent {
        padding: 16px;
        overflow: hidden;
        white-space: nowrap;
        min-height: 58px;
        max-height: 58px;
    }

    #_contextMenu .menuItem {
        display: inline-block;
        width: 64px;
        text-align: center;
        margin: 0px 10px;
        cursor: pointer;
    }

        #_contextMenu .menuItem .icon {
            width: 36px;
        }

        #_contextMenu .menuItem .name {
            color: black;
            font-family: "Roboto", "Segoe UI", "Arial", "Verdana";
            font-size: 14px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

    #_contextMenu .arrowUp {
        transform: scale(0.65, 1);
        position: absolute;
        top: 3px;
        z-index: 500;
    }

        #_contextMenu .arrowUp div {
            border-left: 2px solid #ccc;
            border-top: 2px solid #ccc;
            transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            line-height: 0px;
            font-size: 0px;
            width: 14px;
            height: 14px;
            border-right: 2px solid rgba(0, 0, 0, 0);
            border-bottom: 2px solid rgba(0, 0, 0, 0);
            background-color: white;
        }

    #_contextMenu .arrowDown {
        transform: scale(0.65, 1);
        position: absolute;
        bottom: 3px;
        z-index: 500;
    }

        #_contextMenu .arrowDown div {
            border-right: 2px solid #ccc;
            border-bottom: 2px solid #ccc;
            transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            line-height: 0px;
            font-size: 0px;
            width: 14px;
            height: 14px;
            border-left: 2px solid rgba(0, 0, 0, 0);
            border-top: 2px solid rgba(0, 0, 0, 0);
            background-color: white;
        }

    #_contextMenu.vertical {
        max-height: 524px;
        max-width: 114px;
        min-height: 524px;
        min-width: 114px;
    }

        #_contextMenu.vertical ._contextMenuMain {
            max-width: 112px;
            min-width: 112px;
            max-height: inherit;
            min-height: inherit;
        }

        #_contextMenu.vertical ._menuContent {
            max-width: 80px;
            min-width: 80px;
            white-space: normal;
            max-height: inherit;
            min-height: inherit;
        }

        #_contextMenu.vertical .menuItem {
            margin: 10px;
        }

/* Context Menu Styles -End*/

/* Popup Window Styles -Start*/

.pWindowBg {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 20000;
}

.pWindow {
    background-color: #fff;
    border: 2px solid #000;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    overflow: auto;
}

.pBodyFixed {
    position: fixed;
}

.pHTMLFixedX {
    overflow-x: scroll !important;
}

.pHTMLFixedY {
    overflow-y: scroll !important;
}

/* Popup Window Styles -End*/

/* Flyout Window Styles - Start*/

.fWindowBg {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 20000;
}

.fWindow {
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    overflow: auto;
    box-shadow: 0 0 6px 2px #000000;
    -webkit-box-shadow: 0 0 6px 2px #000000;
}

.fBodyFixed {
    position: fixed;
}

.fHTMLFixedX {
    overflow-x: scroll !important;
}

.fHTMLFixedY {
    overflow-y: scroll !important;
}

/* Flyout Window Styles - End*/

/* Message box Styles -Start*/

.messageBoxBg {
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    display: none;
    opacity: 0;
    left: 0;
    top: 0;
    z-index: 12001;
}

    .messageBoxBg #messageBox {
        font-family: "Roboto", "Segoe UI", "Arial", "Verdana";
        position: absolute;
        width: 100%;
        left: 0;
        overflow: hidden;
        background-color: #999;
        height: 150px;
    }

    .messageBoxBg .strip {
        position: absolute;
        width: 40px;
        height: 100%;
        left: 0;
        top: 0;
    }

    .messageBoxBg .confirm {
        background-color: #c3d603;
    }

    .messageBoxBg .warning {
        background-color: #e77625;
    }

    .messageBoxBg .notification {
        background-color: #007626;
    }

    .messageBoxBg .error {
        background-color: #d81c3f;
    }

    .messageBoxBg .messageMain {
        height: calc(100% - 36px);
        margin: 18px auto;
        width: 60%;
    }

    .messageBoxBg .separator {
        display: table-cell;
        max-width: 20px;
        min-width: 20px;
    }

    .messageBoxBg .messageDiv {
        display: table;
        width: 100%;
        white-space: nowrap;
        margin: auto;
        height: 100%;
    }

    .messageBoxBg .messageContent {
        max-width: 66.67%;
        min-width: 66.67%;
        vertical-align: middle;
        display: table-cell;
        white-space: normal;
    }

    .messageBoxBg .messageHeader {
        font-size: 18px;
        color: white;
    }

    .messageBoxBg .message {
        font-size: 12px;
        color: white;
        margin-top: 5px;
        min-width: 488px;
    }

    .messageBoxBg .buttonDiv {
        display: table-cell;
        font-size: 14px;
        height: 100%;
        max-width: 260px;
        min-width: 260px;
        vertical-align: bottom;
    }

        .messageBoxBg .buttonDiv button {
            border: 0 none;
            min-height: 32px;
            min-width: 120px;
            margin-bottom: 10px;
        }

        .messageBoxBg .buttonDiv .okButton {
            background: none repeat scroll 0 0 #fff;
            color: #000;
        }

        .messageBoxBg .buttonDiv .cancelButton {
            background: none repeat scroll 0 0 #000;
            color: #fff;
            margin-right: 18px;
        }

    .messageBoxBg .synopsis {
        font-family: "Roboto", "Segoe UI", "Arial", "Verdana";
        font-size: 13px;
        background-color: rgba(0,0,0,0.6);
        overflow-x: hidden;
        overflow-y: auto;
        color: white;
        position: absolute;
        display: none;
        padding: 30px 60px;
        width: 100%;
        height: 0px;
        left: 0;
        top: 0;
    }

    .messageBoxBg .synopsisCloseBtn {
        position: absolute;
        right: 0;
        top: 0;
        width: 44px;
        background: none;
        border: 0;
        height: 37px;
    }

        .messageBoxBg .synopsisCloseBtn .left {
            border-color: #fff #fff rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
            border-width: 2px;
            border-style: solid;
            transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            line-height: 0px;
            font-size: 0px;
            width: 5px;
            height: 5px;
            background-color: rgba(0,0,0,0);
            display: inline-block;
            margin-right: 1px;
        }

        .messageBoxBg .synopsisCloseBtn .right {
            border-color: #FFFFFF #FFFFFF rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
            border-width: 2px;
            border-style: solid;
            transform: rotate(225deg);
            -ms-transform: rotate(225deg);
            -webkit-transform: rotate(225deg);
            line-height: 0px;
            font-size: 0px;
            width: 5px;
            height: 5px;
            background-color: rgba(0,0,0,0);
            display: inline-block;
        }

/* Message box Styles -End*/

/* Left side icon panel Styles -start*/

button.md-button-toggle.md-button.md-ink-ripple.ng-binding.buttonShow {
    padding-left: 19px !important;
}

.md-button:hover {
    background-color: transparent !important;
}

.sidenavdemoCustomSidenav {
    display: inline-block;
    float: left;
    margin-top: 14px;
    margin-left: 7px;
}

.layout-padding, .layout-padding-gt-sm, .layout-padding-gt-sm > *, .layout-padding-md, .layout-padding-md > *, .layout-padding > *, .layout-padding > .flex, .layout-padding > .flex-gt-sm, .layout-padding > .flex-md {
    padding: 0px !important;
    background-color: transparent;
}

.materialNav Button {
    min-width: 0px !important;
    /* max-width: 0px !important; */
    /* padding: 0; */
    box-shadow: 0 0 0 !important;
    background-color: transparent !important;
    height: 23px;
    width: auto;
}

md-sidenav.md-sidenav-left {
    position: absolute;
    top: 60px;
    width: 245px;
    OVERFLOW-y: hidden;
    overflow-x: hidden;
    background-color: white;
}

.imageColections {
    box-shadow: 0px 0px 5px #888888;
    height: 100%;
    position: fixed;
    max-height: calc(100% - 82px);
    overflow: hidden;
    /* z-index: 1000; */
}

.layout-margin, .layout-margin-gt-sm, .layout-margin-gt-sm > *, .layout-margin-md, .layout-margin-md > *, .layout-margin > *, .layout-margin > .flex, .layout-margin > .flex-gt-sm, .layout-margin > .flex-md {
    margin: 0px !important;
}

md-backdrop.md-opaque.md-default-theme, md-backdrop.md-opaque {
    background-color: transparent;
}

button.menuTextButton {
    font-family: "Roboto", "Segoe UI", "Arial", "Verdana";
    background-color: transparent !important;
    color: #626469;
    font-size: 16px;
    margin-left: 0px;
    line-height: inherit !important
}

.menuText:hover {
    background-color: #dadada !important;
    cursor: pointer;
}

.iconCol {
    display: inline-block;
    padding: 14px;
    padding-right: 1px;
    min-width: 55px;
    min-height: 56px;
    max-height: 56px;
}

.iconMobileArrow {
    display: inline-block;
    padding: 14px;
    padding-right: 7px;
}

.smallArrow
{
    float: right;
    top: 26px;
    position: relative;
    right: 5px;
    background-image: url(../../images/Small_Arrow.png);
    height: 7px;
    width: 7px;
}

.md-accordion .expandCollapse {
    width: 30px;
    height: 30px;
    position: relative;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    display: block;
    margin-top: -2px;
    margin-left: -2px;
    overflow: hidden;
    margin-right: 12px;
}

    .md-accordion .expandCollapse:active {
        border: 0px;
    }

    .md-accordion .expandCollapse:before, .md-accordion .expandCollapse:after {
        width: 30px;
        height: 30px;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        line-height: 32px;
        text-align: center;
        -webkit-transition: .3s all ease-out;
        transition: .3s all ease-out;
    }

.md-accordion .active:before {
    opacity: 1;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-left: 3px;
    margin-top: 0px;
}

.md-accordion .dataContent {
    background: #F2F2F2;
    height: 0px;
    overflow: hidden;
    -webkit-transition: .3s height ease-out,.3s padding ease-out;
    transition: .3s height ease-out,.3s padding ease-out;
    font-size: 14px;
    padding-left: 65px !important;
    /* padding: 2px 0px; */
    background-color: white;
}

.md-accordion .activeContent {
    height: auto;
    padding: 10px;
    display: block;
    padding-bottom: 12px;
    padding-top: 12px;
    background-color: white;
}

.md-accordion md-toolbar {
    cursor: pointer;
    color: #383838;
    font-size: 16px;
    min-height: initial;
    background-color: white !important;
}

md-toolbar[data-isselected="true"] {
    background-color: #E9EBFC !important;
}

.md-toolbar-tools.accordText {
    padding: 0;
    font-size: 16px;
    height: 50px;
}

.mobilArrowClass {
    height: 50px;
}

span.expandCollapse.active {
    border-left: 2px solid #cccccc;
    border-top: 2px solid #cccccc;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    line-height: 0px;
    width: 0px;
    border-right: 2px solid rgba(0, 0, 0, 0);
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    width: auto !important;
    height: auto !important;
    -webkit-transition: .3s all ease-out;
    transition: .3s all linear;
    top: 15px;
}

span.expandCollapse {
    border-right: 2px solid #cccccc;
    border-bottom: 2px solid #cccccc;
    border-left: 2px solid rgba(0, 0, 0, 0);
    border-top: 2px solid rgba(0, 0, 0, 0);
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    line-height: 0px;
    font-size: 0px;
    padding: 8px;
    margin: 31px calc(50% - 107px) 5px;
    width: 0px;
    width: auto !important;
    height: auto !important;
    -webkit-transition: .3s all ease-out;
    transition: .3s all linear;
}



md-content {
    overflow: hidden !important;
}

.subEachItem.superSubCol.ng-binding.ng-scope.dataContent.activeContent {
    position: fixed;
    height: 100%;
    width: 254px;
    z-index: 100000;
    left: -55px;
}

.superSubCol {
    position: fixed;
    height: 100%;
    width: 254px;
    z-index: 100000;
    left: 0px;
    background-color: white;
    overflow: auto;
    overflow-x: hidden;
}

.superSubArrow {
    display: block;
    opacity: 1;
    cursor: pointer;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(225deg);
    line-height: 0px;
    font-size: 0px;
    position: absolute;
    top: 17px;
    left: 17px;
    width: 9px;
    height: 9px;
}

.superSubMenuList {
    margin-top: 12px;
    font-size: 14px;
}

span.superSubMenuHead {
    font-weight: bold;
    display: block;
    padding-bottom: 6px;
    padding-top: 2px;
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 160px !important;
}

md-toolbar:hover {
    background-color: #E9EBFC !important;
}

.menuScrollArrow {
    position: fixed;
    bottom: 0;
    background-color: gray;
}

.upArrowPng.ng-scope.expandCollapse {
    -webkit-transition: .3s all ease-out;
    transition: .3s all linear;
}

.upArrowPng.expandCollapse.active {
    -webkit-transform: rotate(180deg);
    -webkit-transition: .3s all ease-out;
    transition: .3s all linear;
}

.upArrowPng.SuperSub.ng-scope.expandCollapse {
    /* display: inline-block; */
    float: right;
    left: 9px;
    margin-top: -12px;
    top: 5px;
}

img.backBigArrow {
    float: left;
    top: 7px;
    position: relative;
    padding-right: 10px;
    margin-left: 14px;
}

img.iconNavigation {
    cursor: pointer;
    position: fixed;
    bottom: 0px;
    background-color: white;
    text-align: center;
    padding-right: 11px;
    padding-left: 11px;
    box-shadow: 0 0 13px 4px #E9EBFC;
    background-color: #E9EBFC;
    left: 0px;
    z-index: 10000;
}

img.upIconNavigation {
    cursor: pointer;
    position: fixed;
    top: 60px;
    left: 0px;
    text-align: center;
    display: none;
    background-color: #E9EBFC;
    /* left: 30px; */
    padding-right: 12px;
    padding-left: 12px;
    z-index: 1000;
    padding-right: 12px;
    padding-left: 12px;
}

.md-sidenav-left, md-sidenav {
    transition: 100ms ease all;
}

    md-sidenav.md-closed {
        display: block !important;
    }

    .md-sidenav-left.md-closed, md-sidenav.md-closed {
        -webkit-transform: translate3d(0%,0,0) !important;
        transform: translate3d(0%,0,0) !important;
        width: 52px !important;
        transition: all 2s;
    }

span.havSuperSub {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 112px;
    display: inline-block;
    color: #0F0F0F;
    position: relative;
    right: 6px;
}

span.havNoSuperSub {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 142px;
    display: inline-block;
    color: #0F0F0F;
    right: 6px;
    position: relative;
}

.superSubMenuItems {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 189px;
    min-width: 245px;
    /* padding-bottom: 12px; */
    /* padding-top: 12px; */
    display: inline-block;
    /* padding-left: 55px; */
}

.havNoSupSuperSub:hover, .subEachItem.dataContent.activeContent:hover, .fourthLevelItems:hover {
    background-color: #E9EBFC;
}

.havNoSupSuperSub {
    padding-bottom: 12px;
    padding-top: 12px;
    display: inline-block;
    padding-left: 55px;
}

.md-accordion md-toolbar.havSupSuperSub {
    padding-bottom: 12px;
    padding-top: 12px;
    display: inline-block;
    padding-left: 55px;
}

.superSubMenuItems button {
    font-weight: normal;
}

.superSubMenuItems .md-toolbar-tools.accordText {
    height: 23px;
}

.fourthLevelMenu .fourthLevelItems {
    font-size: 14px;
}

.nextNavSub {
    padding-bottom: 12px;
    padding-top: 12px;
}

.subEachItem.dataContent.subListItemsPadding.activeContent {
    padding-top: 0px;
    padding-bottom: 0px;
}

.fourthLevelItems.dataContent.activeContent {
    padding-left: 51px !important;
    padding-bottom: 0px;
    padding-top: 0px;
}

.secondNavSub {
    padding-top: 12px;
    padding-bottom: 12px;
}

button.menuTextButton.md-button-toggle.md-button.md-ink-ripple {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 188px !important;
    display: inline-block;
    font-weight: normal;
    color: #000;
}

.searchBox {
    /* position: absolute; */
    /* left: 1px; */
    /* z-index: 9999; */
    height: 30px;
    /* bottom: 8px; */
    /* padding: 59px !important; */
}



@keyframes added {
    from {
        height: 0;
    }

    to {
        height: 100%;
    }
}

@keyframes addedTop {
    from {
        top: 83%;
    }

    to {
    }
}

@keyframes searcher {
    to {
        left: 0px;
        opacity: 1;
    }

    from {
        left: -250px;
        opacity: 0;
    }
}

@keyframes deleted {
    to {
        height: 0;
        top: 100%;
    }

    from {
        height: 100%;
    }
}

@keyframes deletedTop {
    to {
    }

    from {
    }
}



@keyframes searchdeleted {
    from {
        left: 0px;
        opacity: 1;
    }

    to {
        left: -250px;
        opacity: 0;
    }
}

.superSubCol.ng-enter, .superSubMenuItems.ng-enter-active {
    animation: .25s ease-in-out added, .4s ease-in-out addedTop;
}

.seachDiv.ng-hide-remove {
    animation: .25s linear searcher;
}

.superSubCol.ng-leave-active, .superSubCol.ng-leave {
    animation: .4s ease-in-out deleted;
}

.seachDiv.ng-hide {
    animation: .25s linear searchdeleted;
}

div[data-isselected="true"] ~ md-toolbar {
    background-color: #E9EBFC !important;
}

.md-accordion.ng-enter,
.md-accordion.ng-leave {
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
}

    .md-accordion.ng-enter.md-accordion.ng-enter-active,
    .md-accordion.ng-leave {
        opacity: 1;
        top: 0;
        height: 30px;
    }

        .md-accordion.ng-leave.md-accordion.ng-leave-active,
        .md-accordion.ng-enter {
            opacity: 0;
            top: -50px;
            height: 0px;
        }

.searchBox {
    width: 205px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 16px;
    padding: 14px 20px 9px 16px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin-left: 7px;
    background-repeat: no-repeat;
}

#searchclear {
    box-sizing: border-box;
    display: inline-block;
    font-size: 16px;
    padding: 20px 0px 0px 20px;
    right: 33px;
    position: relative;
    top: 1px;
    background-repeat: no-repeat;
}

.seachDiv {
    background-color: #E9EBFC;
    position: absolute;
    left: 1px;
    z-index: 9999;
    height: 30px;
    bottom: 1px;
    padding-left: 9px;
    padding-right: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #CBCBCB;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #E9EBFC;
}

:-ms-input-placeholder { /* IE 10+ */
    color: #E9EBFC;
}

:-moz-placeholder { /* Firefox 18- */
    color: #E9EBFC;
}


.hide {
    display: none;
}

.show {
    display: block;
}
/* width */


/*Custom Scroll Bar Css -Starts*/

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #f9f9f9;
    /*-webkit-box-shadow: inset 0 0 6px #312d2d; */
    /*border-radius: 10px;*/
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    /*border-radius: 10px; */
    width: 10px;
    height: 10px;
    background-color: #cdcdcd;
    /*-webkit-box-shadow: inset 0 0 6px #312d2d; */
}

    ::-webkit-scrollbar-thumb:hover {
        background-color: #606060;
    }

::-webkit-scrollbar-button:start:decrement {
    background-color: #f0f0f0;
    background-image: url('../../Images/Up-Arrow-Black.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

    ::-webkit-scrollbar-button:start:decrement:hover {
        background-color: #606060;
        background-image: url('../../Images/Up-Arrow-Grey.png');
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }

::-webkit-scrollbar-button:end:increment {
    background-image: url('../../Images/Down-Arrow-Black.png');
    background-repeat: no-repeat;
    background-color: #f0f0f0;
    background-position: 50% 50%;
}

    ::-webkit-scrollbar-button:end:increment:hover {
        background-image: url('../../Images/Down-Arrow-Grey.png');
        background-repeat: no-repeat;
        background-color: #606060;
        background-position: 50% 50%;
    }

::-webkit-scrollbar-button:horizontal:start:decrement {
    background-image: url('../../Images/Left-Arrow-Black.png');
}

    ::-webkit-scrollbar-button:horizontal:start:decrement:hover {
        background-image: url('../../Images/Left-Arrow-Grey.png');
    }

::-webkit-scrollbar-button:horizontal:end:increment {
    background-image: url('../../Images/Right-Arrow-Black.png');
}

    ::-webkit-scrollbar-button:horizontal:end:increment:hover {
        background-image: url('../../Images/Right-Arrow-Grey.png');
    }

/*Custom Scroll Bar Css -Ends*/
/*Menu Animation Css - Starts*/

.firstLevelMenu {
    position: fixed;
    height: calc(100% - 61px);
    width: 217px;
    z-index: 1;
    left: 0px;
    background-color: white;
    overflow: auto;
    overflow-x: hidden;
    LEFT: 245PX;
    top: 60px;
    width: 245px;
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
    background-color: white;
    z-index: 9;
}


@keyframes firstLevel {
    from {
        left: 20px;
    }

    to {
        left: 245px;
    }
}

@keyframes firstLevelRemove {
    to {
        left: 20px;
    }

    from {
        left: 245px;
    }
}

.firstLevelMenu.ng-enter, .firstLevelMenu.ng-enter-active {
    animation: .15s ease-in-out firstLevel;
}

.firstLevelMenu.ng-leave-active, .firstLevelMenu.ng-leave {
    animation: .15s ease-in-out firstLevelRemove;
}

.upArrowPng.ng-scope
{
    right: 10px;
    position: relative;
    transform: rotate(270deg);
    background-image: url("../../Images/DownArrow.png");
    width: 28px;
    height: 28px;
}

.secondLevelMenu.ng-scope {
    position: fixed;
    height: calc(100% - 61px);
    width: 217px;
    z-index: 1;
    left: 0px;
    background-color: white;
    overflow: auto;
    overflow-x: hidden;
    LEFT: 490px;
    top: 60px;
    width: 245px;
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
    background-color: white;
    z-index:7;
}

@keyframes secondLevel {
    from {
        left: 245px;
    }

    to {
        left: 490px;
    }
}

@keyframes secondLevelRemove {
    to {
        left: 245px;
    }

    from {
        left: 490px;
    }
}

.secondLevelMenu.ng-enter, .secondLevelMenu.ng-enter-active {
    animation: .15s ease-in-out secondLevel;
}

.secondLevelMenu.ng-leave-active, .secondLevelMenu.ng-leave {
    animation: .15s ease-in-out secondLevelRemove;
}

.thirdLevelMenu {
    position: fixed;
    height: calc(100% - 61px);
    z-index: 1;
    left: 0px;
    background-color: white;
    overflow: auto;
    overflow-x: hidden;
    LEFT: 735px;
    top: 60px;
    width: 245px;
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
    background-color: white;
}

@keyframes thirdLevel {
    from {
        left: 490px;
    }

    to {
        left: 735px;
    }
}

@keyframes thirdLevelRemove {
    to {
        left: 490px;
    }

    from {
        left: 735px;
    }
}

.thirdLevelMenu.ng-enter, .thirdLevelMenu.ng-enter-active {
    animation: .15s ease-in-out thirdLevel;
}

.thirdLevelMenu.ng-leave-active, .thirdLevelMenu.ng-leave {
    animation: .15s ease-in-out thirdLevelRemove;
}

.fourthLevelMenu {
    position: fixed;
    height: calc(100% - 61px);
    z-index: 1;
    left: 0px;
    background-color: white;
    overflow: auto;
    overflow-x: hidden;
    LEFT: 980px;
    top: 60px;
    width: 245px;
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
    background-color: white;
}

@keyframes fourthLevel {
    from {
        left: 735px;
    }

    to {
        left: 980px;
    }
}

@keyframes fourthLevelRemove {
    to {
        left: 735px;
    }

    from {
        left: 980px;
    }
}

.fourthLevelMenu.ng-enter, .fourthLevelMenu.ng-enter-active {
    animation: .15s ease-in-out fourthLevel;
}

.fourthLevelMenu.ng-leave-active, .fourthLevelMenu.ng-leave {
    animation: .15s ease-in-out fourthLevelRemove;
}

/*Menu Animation Css - Ends*/

.selectedMenu {
    background-color: #E9EBFC;
}

md-backdrop.md-sidenav-backdrop-custom {
    background-color: transparent !important;
}

md-backdrop.disabled {
    display: none;
}

.md-button {
    font-weight: normal;
}

md-backdrop.md-opaque {
    opacity: 0 !important;
}

img.mobileBackArrow {
    cursor: pointer;
}

/*responsive css for menubar - Starts*/

@media only screen and (max-width: 1366px) {

    .md-toolbar-tools {
        max-height: 56px !important;
    }
}
@media screen and (min-width: 729px) {
    .parentSide button.menuTextButton.md-button-toggle.md-button.md-ink-ripple {
        display: none;
    }

    .parentSide .upArrowPng.ng-scope {
        display: none;
    }
}
@media screen and (max-width: 730px) {
    md-sidenav {
        min-width: 245px !important;
    }

    div#pnlcont {
        margin-left: 0px !important;
    }

    .md-sidenav-left.md-closed, md-sidenav.md-closed {
        -webkit-transform: translate3d(-100%,0,0) !important;
        transform: translate3d(-100%,0,0) !important;
    }

    md-backdrop.md-opaque {
        left: 245px !important;
    }

    .firstLevelMenu, .secondLevelMenu.ng-scope, .thirdLevelMenu, .fourthLevelMenu {
        left: 0px;
        z-index: 62;
    }

    @keyframes entryAnimationMobile {
        from {
            left: -245px;
        }

        to {
            left: 0px;
        }
    }

    @keyframes exitAnimationMobile {
        to {
            left: -245px;
        }

        from {
            left: 0px;
        }
    }

    .firstLevelMenu.ng-enter, .firstLevelMenu.ng-enter-active, .secondLevelMenu.ng-enter, .secondLevelMenu.ng-enter-active, .thirdLevelMenu.ng-enter, .thirdLevelMenu.ng-enter-active, .fourthLevelMenu.ng-enter, .fourthLevelMenu.ng-enter-active {
        animation: .15s ease-in-out entryAnimationMobile;
    }

    .firstLevelMenu.ng-leave-active, .firstLevelMenu.ng-leave, .secondLevelMenu.ng-leave-active, .secondLevelMenu.ng-leave, .thirdLevelMenu.ng-leave-active, .thirdLevelMenu.ng-leave, .fourthLevelMenu.ng-leave-active, .fourthLevelMenu.ng-leave {
        animation: .15s ease-in-out exitAnimationMobile;
    }

    .upArrowPng.ng-scope {
        right: 10px;
        position: relative;
        transform: rotate(0);
    }

    span.mobileSubTitle.ng-binding {
        font-family: "Roboto", "Segoe UI", "Arial", "Verdana";
        background-color: transparent !important;
        color: #626469;
        font-size: 15px;
        margin-left: 10px;
        line-height: inherit !important;
        font-weight: bold;
        bottom: 6px;
        position: relative;
    }
}

.displayIcon {
    width: 24px;
    height: 24px;
}

.md-button {
    border-radius: 0px !important;
}

.menuHamburger:focus {
    outline: none;
}

.md-button{
	text-transform: none !important;
}

/*responsive css for menubar - Ends*/
/*Side menubar css ends*/
