div, ul, li, a {
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.skts ul {
    overflow: auto;
    width: 100%;
    list-style: none;
    padding: 0;
    border-bottom: 1px solid #d1d1d1;
    overflow-y: hidden;
}

    .skts ul li {
        float: left;
        cursor: pointer;
        vertical-align: middle;
        height: 50px;
        line-height: 50px;
        position: relative;
    }

.skts .sktsp {
    height: 20px;
    width: 1px;
    float: left;
    background-color: #ccc;
    margin-top: 17px;
}

.skts ul a {
    float: left;
    font-family: 'Segoe UI';
    color: #1b1b1b;
    font-size: 16px;
    text-decoration: none;
    height: 100%;
    position: relative;
}

    .skts ul a:hover {
        background-color: #ECEEFA;
        color: #000;
    }

.skts ul li[data-skits=true] a {
    border-bottom: 4px solid #4D5EE0;
    cursor: default;
}

.sktp {
    overflow: auto;
    min-height: 65px;
    border: 1px solid #d1d1d1;
    border-top: none;
}

.skcn[data-skimf="0"][data-skstb="0"] > .sktcw > .sktp {
    border: 0;
}

.sktp .sktb:not([data-skits=true]) {
    display: none;
    overflow: hidden;
}

.sktp .sktb[data-skits=true]:not(.skflxlc) {
    display: block;
}

[data-skith=true] {
    display: none !important;
}

.skatab {
    height: 50px;
    width: 50px;
    background-image: url(../images/NGF-Sprites-RunTime-img.png);
    background-position: 0 -204px;
    background-repeat: no-repeat;
}

.skts > ul > li > a > label {
    padding: 0 20px;
    display: block;
    height: 50px;
    min-width: 120px;
    text-align: center;
}

.skep .skts > ul > li > a > label {
    min-width: 0;
}

.skts > ul > li > a > .skflyctr {
    color: #fff !important;
    padding: 0 20px;
    display: block;
    height: 50px;
}
