.RadPanelBar_AWTPanelBar {
  background: #fff; }

.RadPanelBar_AWTPanelBar .rpRootGroup {
  border-color: #828282; }

.RadPanelBar_AWTPanelBar a.rpLink,
.RadPanelBar_AWTPanelBar div.rpHeaderTemplate,
.RadPanelBar_AWTPanelBar .rpTemplate {
  color: #000;
  font: normal 12px/24px "Segoe UI", Arial, sans-serif; }

.RadPanelBar_AWTPanelBar div.rpHeaderTemplate,
.RadPanelBar_AWTPanelBar a.rpLink {
  background-color: #fdfdfd;
  background-image: url('PanelBar/RootItemBg.png');
  border-color: #ebebeb; }

.RadPanelBar_AWTPanelBar .rpOut {
  border-color: #ebebeb; }

.RadPanelBar_AWTPanelBar .rpLink:hover {
  border-color: #c4c4c4; }

.RadPanelBar_AWTPanelBar .rpLink.rpFocused,
.RadPanelBar_AWTPanelBar .rpLink.rpSelected {
  background-color: #fdfdfd;
  border-color: #aaaaaa; }

.RadPanelBar_AWTPanelBar .rpLink.rpExpanded,
.RadPanelBar_AWTPanelBar div.rpFocused,
.RadPanelBar_AWTPanelBar div.rpExpanded,
.RadPanelBar_AWTPanelBar div.rpSelected {
  background-color: #fdfdfd;
  border-color: #6c6c6c; }

.RadPanelBar_AWTPanelBar a.rpDisabled,
.RadPanelBar_AWTPanelBar div.rpDisabled,
.RadPanelBar_AWTPanelBar a.rpDisabled:hover {
  color: #bbb; }

.RadPanelBar_AWTPanelBar .rpGroup {
  background-color: #fff; }

.RadPanelBar_AWTPanelBar .rpGroup a.rpLink,
.RadPanelBar_AWTPanelBar .rpGroup div.rpHeaderTemplate,
.RadPanelBar_AWTPanelBar .rpGroup .rpTemplate {
  color: #000;
  background-image: none;
  background-color: transparent; }

.RadPanelBar_AWTPanelBar .rpGroup a.rpLink:hover {
  color: #000; }

.RadPanelBar_AWTPanelBar .rpGroup a.rpLink,
.RadPanelBar_AWTPanelBar .rpGroup a.rpLink .rpOut {
  background-color: transparent;
  background-image: url('PanelBar/SubItemStates.png');
  background-repeat: no-repeat; }

.RadPanelBar_AWTPanelBar .rpGroup a.rpSelected,
.RadPanelBar_AWTPanelBar .rpGroup a.rpSelected:hover {
  color: #fff; }

.RadPanelBar_AWTPanelBar ul.rpGroup .rpDisabled,
.RadPanelBar_AWTPanelBar .rpGroup a.rpDisabled:hover,
.RadPanelBar_AWTPanelBar .rpGroup a.rpDisabled .rpOut {
  background-image: none; }

.RadPanelBar_AWTPanelBar ul.rpGroup .rpDisabled,
.RadPanelBar_AWTPanelBar .rpGroup a.rpDisabled:hover {
  color: #bbb;
  background-color: #fff; }

.RadPanelBar_AWTPanelBar a.rpLink,
.RadPanelBar_AWTPanelBar div.rpHeaderTemplate,
.RadPanelBar_AWTPanelBar a.rpExpanded,
.RadPanelBar_AWTPanelBar div.rpExpanded,
.RadPanelBar_AWTPanelBar .rpItem a.rpLinkExpandHovered {
  background-position: 0 0; }
.RadPanelBar_AWTPanelBar .rpTemplate, .RadPanelBar .rpItem {
    height: 99% !important;
}
.RadPanelBar_AWTPanelBar a.rpFocused,
.RadPanelBar_AWTPanelBar div.rpFocused,
.RadPanelBar_AWTPanelBar a.rpLink:hover,
.RadPanelBar_AWTPanelBar a.rpExpanded:hover {
  background-position: 0 -200px; }

.RadPanelBar_AWTPanelBar a.rpSelected,
.RadPanelBar_AWTPanelBar div.rpSelected,
.RadPanelBar_AWTPanelBar a.rpSelected:hover {
  background-position: 0 -400px; }

.RadPanelBar_AWTPanelBar .rpFirst a.rpLink,
.RadPanelBar_AWTPanelBar .rpFirst div.rpHeaderTemplate,
.RadPanelBar_AWTPanelBar li.rpFirst .rpExpanded {
  background-position: 0 -1px; }

.RadPanelBar_AWTPanelBar li.rpFirst .rpFocused,
.RadPanelBar_AWTPanelBar .rpFirst a.rpLink:hover {
  background-position: 0 -201px; }

.RadPanelBar_AWTPanelBar li.rpFirst .rpSelected,
.RadPanelBar_AWTPanelBar .rpFirst a.rpSelected:hover {
  background-position: 0 -401px; }

.RadPanelBar_AWTPanelBar a.rpDisabled:hover {
  cursor: default; }

.RadPanelBar_AWTPanelBar a.rpDisabled,
.RadPanelBar_AWTPanelBar div.rpDisabled,
.RadPanelBar_AWTPanelBar a.rpDisabled:hover,
.RadPanelBar_AWTPanelBar a.rpDisabled:hover .rpOut {
  background-position: 0 0; }

.RadPanelBar_AWTPanelBar .rpExpandable span.rpExpandHandle,
.RadPanelBar_AWTPanelBar .rpExpanded span.rpExpandHandle {
  background-color: transparent;
  background-image: url('PanelBar/Expandable.png');
  background-repeat: no-repeat; }

.RadPanelBar_AWTPanelBar_rtl .rpGroup .rpText {
  padding: 0 10px; }

.RadPanelBar_AWTPanelBar .rpExpandable span.rpExpandHandle,
.RadPanelBar_AWTPanelBar a.rpExpandable:hover .rpNavigation .rpExpandHandle {
  background-position: 0 -5px; }

.RadPanelBar_AWTPanelBar a.rpExpandable:hover .rpExpandHandle,
.RadPanelBar_AWTPanelBar a.rpExpandable:hover .rpNavigation .rpExpandHandleHovered {
  background-position: 100% -5px; }

.RadPanelBar_AWTPanelBar .rpExpanded span.rpExpandHandle,
.RadPanelBar_AWTPanelBar a.rpExpanded:hover .rpNavigation .rpExpandHandle {
  background-position: 0 -181px; }

.RadPanelBar_AWTPanelBar a.rpExpanded:hover .rpExpandHandle,
.RadPanelBar_AWTPanelBar a.rpExpanded:hover .rpNavigation .rpExpandHandleHovered {
  background-position: 100% -181px; }

.RadPanelBar_AWTPanelBar div.rpExpandable .rpExpandHandleHovered {
  background-position: 0 -5px; }

.RadPanelBar_AWTPanelBar div.rpExpanded .rpExpandHandleHovered {
  background-position: 0 -181px; }

.RadPanelBar_AWTPanelBar .rpGroup a.rpLink,
.RadPanelBar_AWTPanelBar .rpGroup div.rpHeaderTemplate,
.RadPanelBar_AWTPanelBar .rpGroup a.rpLink .rpOut {
  background-position: 0 200px; }

.RadPanelBar_AWTPanelBar .rpGroup a.rpLink:hover,
.RadPanelBar_AWTPanelBar ul.rpGroup .rpFocused {
  background-position: 100% -22px; }

.RadPanelBar_AWTPanelBar .rpGroup a.rpLink:hover .rpOut,
.RadPanelBar_AWTPanelBar .rpGroup a.rpFocused .rpOut {
  background-position: 0 0; }

.RadPanelBar_AWTPanelBar ul.rpGroup .rpSelected,
.RadPanelBar_AWTPanelBar .rpGroup a.rpSelected:hover {
  background-position: 100% -222px;
  background-color: transparent; }

.RadPanelBar_AWTPanelBar .rpGroup a.rpSelected .rpOut,
.RadPanelBar_AWTPanelBar .rpGroup a.rpSelected:hover .rpOut {
  background-position: 0 -200px; }

.RadPanelBar_AWTPanelBar ul.rpGroup .rpExpandable .rpExpandHandle,
.RadPanelBar_AWTPanelBar .rpGroup a.rpExpandable:hover .rpNavigation .rpExpandHandle {
  background-position: 0 -343px; }

.RadPanelBar_AWTPanelBar .rpGroup a.rpExpandable:hover .rpExpandHandle,
.RadPanelBar_AWTPanelBar .rpGroup a.rpExpandable:hover .rpNavigation .rpExpandHandleHovered {
  background-position: 100% -343px; }

.RadPanelBar_AWTPanelBar ul.rpGroup .rpExpanded .rpExpandHandle,
.RadPanelBar_AWTPanelBar .rpGroup a.rpExpanded:hover .rpNavigation .rpExpandHandle {
  background-position: 0 -482px; }

.RadPanelBar_AWTPanelBar .rpGroup a.rpExpanded:hover .rpExpandHandle,
.RadPanelBar_AWTPanelBar .rpGroup a.rpExpanded:hover .rpNavigation .rpExpandHandleHovered {
  background-position: 100% -482px; }

.RadPanelBar_AWTPanelBar .rpGroup div.rpExpandable .rpExpandHandleHovered {
  background-position: 0 -343px; }

.RadPanelBar_AWTPanelBar .rpGroup div.rpExpanded .rpExpandHandleHovered {
  background-position: 0 -482px; }