
@font-face {
    font-family: "Roboto";
    src: url("../../../../../Common/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-weight: bold;
    font-style: italic;
    src: url("../../../../../Common/fonts/Roboto/Roboto-BoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: italic;
    src: url("../../../../../Common/fonts/Roboto/Roboto-italic.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-weight: bold;
    src: url("../../../../../Common/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}


.RadGrid_AWTGrid {
    border-color: #cccccc;
    color: WindowText;
    background-color: #fff !important;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 16px;
}
  .RadGrid_AWTGrid .rgMasterTable,
  .RadGrid_AWTGrid .rgDetailTable,
  .RadGrid_AWTGrid .rgGroupPanel table,
  .RadGrid_AWTGrid .rgCommandRow table,
  .RadGrid_AWTGrid .rgEditForm table,
  .RadGrid_AWTGrid .rgPager table {
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 16px; }
    .RadGrid_AWTGrid .rgInput {
        border-color: #b3b3b3;
        color: #cccccc;
        background-color: #cccccc;
    }
  .RadGrid_AWTGrid .rgSave,
  .RadGrid_AWTGrid .rgAdd,
  .RadGrid_AWTGrid .rgRefresh,
  .RadGrid_AWTGrid .rgEdit,
  .RadGrid_AWTGrid .rgDel,
  .RadGrid_AWTGrid .rgFilter,
  .RadGrid_AWTGrid .rgPagePrev,
  .RadGrid_AWTGrid .rgPageNext,
  .RadGrid_AWTGrid .rgPageFirst,
  .RadGrid_AWTGrid .rgPageLast,
  .RadGrid_AWTGrid .rgExpand,
  .RadGrid_AWTGrid .rgCollapse,
  .RadGrid_AWTGrid .rgSortAsc,
  .RadGrid_AWTGrid .rgSortDesc,
  .RadGrid_AWTGrid .rgUpdate,
  .RadGrid_AWTGrid .rgCancel,
  .RadGrid_AWTGrid .rgUngroup,
  .RadGrid_AWTGrid .rgExpXLS,
  .RadGrid_AWTGrid .rgExpDOC,
  .RadGrid_AWTGrid .rgExpPDF,
  .RadGrid_AWTGrid .rgExpCSV {
    background-image: url('Grid/sprite.gif'); }
    .RadGrid_AWTGrid .rgHeaderDiv {
        background: #cccccc 0 -7550px repeat-x url('Grid/sprite.gif');
    }

.rgTwoLines .rgHeaderDiv {
  background-position: 0 -7050px; }

.rgHeaderWrapper .rgHeaderDiv {
  border-color: #cdcccc; }

.RadGrid_AWTGrid .rgHeader, .RadGrid_AWTGrid th.rgResizeCol,
.RadGrid_AWTGrid .rgHeaderWrapper {
  border: 0;
  border-bottom: 1px solid #828282;
  background: #eaeaea 0 -2300px repeat-x url('Grid/sprite.gif'); }

.RadGrid_AWTGrid .rgMultiHeaderRow .rgHeader,
.RadGrid_AWTGrid .rgMultiHeaderRow .rgResizeCol {
  border-left: 1px solid #828282; }

.RadGrid_AWTGrid th.rgSorted {
  background-color: #c4c4c4;
  background-position: 0 -2600px; }

.RadGrid_AWTGrid .rgHeader {
  color: #333; }
  .RadGrid_AWTGrid .rgHeader a {
    color: #333; }

.RadGrid_AWTGrid .rgRow > td,
.RadGrid_AWTGrid .rgAltRow > td,
.RadGrid_AWTGrid .rgEditRow > td,
.RadGrid_AWTGrid .rgFooter > td {
  border-style: solid;
  border-width: 0 0 1px 0; }

.RadGrid_AWTGrid .rgRow > td {
  border-color: #fff; }

.RadGrid_AWTGrid .rgAltRow {
  background: #b3b3b3; }
  .RadGrid_AWTGrid .rgAltRow > td {
    border-color: #f2f2f2; }

.RadGrid_AWTGrid .rgRow .rgSorted {
  border-bottom-color: #f2f2f2;
  background-color: #f2f2f2; }

.RadGrid_AWTGrid .rgAltRow .rgSorted {
  border-bottom-color: #e6e6e6;
  background-color: #e6e6e6; }

.RadGrid_AWTGrid .rgSelectedRow .rgSorted,
.RadGrid_AWTGrid .rgActiveRow .rgSorted,
.RadGrid_AWTGrid .rgHoveredRow .rgSorted,
.RadGrid_AWTGrid .rgEditRow .rgSorted {
  background-color: transparent; }

.RadGrid_AWTGrid .rgRow a,
.RadGrid_AWTGrid .rgAltRow a,
.RadGrid_AWTGrid .rgEditRow a {
  color: #000; }

.RadGrid_AWTGrid tr.rgEditRow a, .RadGrid_AWTGrid tr.rgHoveredRow a, .RadGrid_AWTGrid tr.rgActiveRow a {
  color: #000; }

.RadGrid_AWTGrid .rgFooter a,
.RadGrid_AWTGrid .rgEditForm a {
  color: #000; }

.RadGrid_AWTGrid .rgMasterTable .rgSelectedCell,
.RadGrid_AWTGrid .rgSelectedRow {
  background: #828282 0 -3900px repeat-x url('Grid/sprite.gif');
  color: #fff; }

* + html .RadGrid_AWTGrid .rgSelectedRow .rgSorted {
  background-color: #828282; }

.RadGrid_AWTGrid .rgSelectedCell a,
.RadGrid_AWTGrid .rgSelectedRow a {
  color: #fff; }

.RadGrid_AWTGrid .rgMasterTable .rgActiveCell,
.RadGrid_AWTGrid .rgActiveRow,
.RadGrid_AWTGrid .rgHoveredRow {
  background: #c5c5c5 0 -2900px repeat-x url('Grid/sprite.gif');
  color: #333; }

* + html .RadGrid_AWTGrid .rgActiveRow .rgSorted,
* + html .RadGrid_AWTGrid .rgHoveredRow .rgSorted {
  background-color: #c5c5c5; }

.RadGrid_AWTGrid .rgEditRow {
  background: white 0 -4900px repeat-x url('Grid/sprite.gif');
  color: #333; }

* + html .RadGrid_AWTGrid .rgEditRow .rgSorted {
  background-color: #b3b3b3; }

.RadGrid_AWTGrid .rgActiveRow > td,
.RadGrid_AWTGrid .rgHoveredRow > td {
  border-bottom-color: #9e9e9e; }
  .RadGrid_AWTGrid .rgActiveRow > td.rgSorted,
  .RadGrid_AWTGrid .rgHoveredRow > td.rgSorted {
    border-bottom-color: #9e9e9e; }

.RadGrid_AWTGrid .rgSelectedRow > td {
  border-bottom-color: #6c6c6c; }
  .RadGrid_AWTGrid .rgSelectedRow > td.rgSorted {
    border-bottom-color: #6c6c6c; }

.RadGrid_AWTGrid .rgEditRow {
  background: rgba(204, 204, 204, 0.75);
  color: #333333; }

.RadGrid_AWTGrid .rgBatchOverlay {
  background: rgba(204, 204, 204, 0.75); }

.RadGrid_AWTGrid .rgDeletedRow.rgHoveredRow > td {
  border-bottom-color: transparent; }

.RadGrid_AWTGrid .rgBatchUndoDeleteButton {
  padding: 0 7px 0 0;
  left: 7px;
  border: 1px solid;
  border-color: #b3b3b3;
  color: #333333;
  background-color: #e6e6e6;
  background-image: linear-gradient(white, #e6e6e6);
  border-radius: 4px; }
  .RadGrid_AWTGrid .rgBatchUndoDeleteButton:before {
    vertical-align: -7px;
    background-image: url('Common/radActionsSprite.png');
    background-position: 0px -2380px;
    background-repeat: no-repeat; }
  .RadGrid_AWTGrid .rgBatchUndoDeleteButton:hover {
    border-color: darkgray;
    color: #000000;
    background-color: #c2c2c2;
    background-image: linear-gradient(gainsboro, #c2c2c2); }
    .RadGrid_AWTGrid .rgBatchUndoDeleteButton:hover:before {
      background-position: -20px -2380px; }

.RadGrid_AWTGrid .rgDrag {
  background-image: url('Grid/rgDrag.gif'); }

.RadGrid_AWTGrid .rgFooterDiv,
.RadGrid_AWTGrid .rgFooter {
  background: #eee; }

.RadGrid_AWTGrid .rgFooterWrapper {
  background: #eee;
  border-top: 1px solid #828282;
  border-bottom: 1px solid #fff; }

.RadGrid_AWTGrid .rgFooter > td {
  border-top: 1px solid #828282;
  border-bottom: 1px solid #fff; }

.RadGrid_AWTGrid .rgFooterWrapper .rgFooter > td {
  border-bottom: 0; }

.RadGrid_AWTGrid .rgPager .rgStatus {
  border: 1px solid;
  border-color: #828282 #c9c9c9 #eee #c9c9c9;
  border-left-width: 0; }

.RadGrid_AWTGrid .rgStatus div {
  background-image: url('Common/loading_small.gif'); }

.RadGrid_AWTGrid .rgPager {
  background: #eee; }

.RadGrid_AWTGrid td.rgPagerCell {
  border: 1px solid;
  border-color: #828282 #eee #eee;
  border-right-width: 0; }

.RadGrid_AWTGrid .rgInfoPart {
  color: #656565; }
  .RadGrid_AWTGrid .rgInfoPart strong {
    color: #4c4e54; }

.RadGrid_AWTGrid .rgPageFirst {
  background-position: 0 -550px; }
  .RadGrid_AWTGrid .rgPageFirst:hover {
    background-position: 0 -600px; }

.RadGrid_AWTGrid .rgPagePrev {
  background-position: 0 -700px; }
  .RadGrid_AWTGrid .rgPagePrev:hover {
    background-position: 0 -750px; }

.RadGrid_AWTGrid .rgPageNext {
  background-position: 0 -850px; }
  .RadGrid_AWTGrid .rgPageNext:hover {
    background-position: 0 -900px; }

.RadGrid_AWTGrid .rgPageLast {
  background-position: 0 -1000px; }
  .RadGrid_AWTGrid .rgPageLast:hover {
    background-position: 0 -1050px; }

.RadGrid_AWTGrid .rgPager .rgPagerButton {
  border-color: #d0d0d0 #aeaeae #8b8b8b;
  background: #e8e8e8 repeat-x 0 -1550px url('Grid/sprite.gif');
  color: #000;
  font-family: "segoe ui",arial,sans-serif; }

.RadGrid_AWTGrid .rgNumPart a {
  color: #000; }
  .RadGrid_AWTGrid .rgNumPart a:hover, .RadGrid_AWTGrid .rgNumPart a.rgCurrentPage {
    background: no-repeat url('Grid/sprite.gif'); }
    .RadGrid_AWTGrid .rgNumPart a:hover span, .RadGrid_AWTGrid .rgNumPart a.rgCurrentPage span {
      background: no-repeat url('Grid/sprite.gif'); }
  .RadGrid_AWTGrid .rgNumPart a:hover {
    background-position: 100% -1250px; }
    .RadGrid_AWTGrid .rgNumPart a:hover span {
      background-position: 0 -1150px; }
  .RadGrid_AWTGrid .rgNumPart a.rgCurrentPage {
    background-position: 100% -1450px; }
    .RadGrid_AWTGrid .rgNumPart a.rgCurrentPage:hover {
      background-position: 100% -1450px; }
    .RadGrid_AWTGrid .rgNumPart a.rgCurrentPage span, .RadGrid_AWTGrid .rgNumPart a.rgCurrentPage:hover span {
      background-position: 0 -1350px; }

.RadGrid_AWTGrid .rgHeader .rgSortAsc {
  background-position: 3px -248px;
  height: 10px; }

.RadGrid_AWTGrid .rgHeader .rgSortDesc {
  background-position: 3px -198px;
  height: 10px; }

.RadGrid_AWTGrid .rgCommandRow .rgPrev,
.RadGrid_AWTGrid .rgCommandRow .rgNext {
  padding: 0 10px;
  line-height: 20px;
  border-radius: 3px;
  border-color: #b3b3b3;
  color: #333333;
  background-color: #e6e6e6;
  background-image: linear-gradient(white, #e6e6e6);
  margin-right: 10px; }
  .RadGrid_AWTGrid .rgCommandRow .rgPrev span,
  .RadGrid_AWTGrid .rgCommandRow .rgNext span {
    width: 10px;
    height: 10px;
    background-image: url('Common/radActionsSprite.png'); }
  .RadGrid_AWTGrid .rgCommandRow .rgPrev:hover,
  .RadGrid_AWTGrid .rgCommandRow .rgNext:hover {
    border-color: darkgray;
    color: #000000;
    background-color: #c2c2c2;
    background-image: linear-gradient(gainsboro, #c2c2c2); }
  .RadGrid_AWTGrid .rgCommandRow .rgPrev.rgDisabled:hover,
  .RadGrid_AWTGrid .rgCommandRow .rgNext.rgDisabled:hover {
    border-color: #b3b3b3;
    color: #333333;
    background-color: #e6e6e6;
    background-image: linear-gradient(white, #e6e6e6); }

.RadGrid_AWTGrid .rgPrev span {
  margin-right: 10px;
  background-position: -5px -45px; }

.RadGrid_AWTGrid .rgNext span {
  margin-left: 10px;
  background-position: -5px -65px; }

.GridReorderTop_AWTGrid {
  background: 0 0 no-repeat url('Grid/sprite.gif'); }

.GridReorderBottom_AWTGrid {
  background: 0 0 no-repeat url('Grid/sprite.gif');
  background-position: 0 -50px; }

.RadGrid_AWTGrid .rgFilterRow {
  background: #eee; }
  .RadGrid_AWTGrid .rgFilterRow > td {
    border-bottom: 1px solid #828282; }

.RadGrid_AWTGrid .rgFilter {
  background-position: 0 -300px; }
  .RadGrid_AWTGrid .rgFilter:hover {
    background-position: 0 -350px; }

.RadGrid_AWTGrid .rgFilterActive {
  background-position: 0 -400px; }
  .RadGrid_AWTGrid .rgFilterActive:hover {
    background-position: 0 -400px; }

.RadGrid_AWTGrid .rgFiltered {
  background-position: 0 -325px; }
  .RadGrid_AWTGrid .rgFiltered:hover {
    background-position: 0 -375px; }
  .RadGrid_AWTGrid .rgFiltered.rgFilterActive {
    background-position: 0 -425px; }

.RadGrid_AWTGrid .rgFilterBox {
  border-color: #8e8e8e #c9c9c9 #c9c9c9 #8e8e8e;
  font-family: "segoe ui",arial,sans-serif;
  color: #333; }

.RadGrid_AWTGrid .rgOptions {
  background: url('Common/radActionsSprite.png') -2.5px -2402.5px no-repeat; }

.RadGrid_AWTGrid .rgOptSelected {
  background-position: -22.5px -2402.5px; }

.RadMenu_AWTGrid .rgHCMClear,
.RadMenu_AWTGrid .rgHCMFilter {
  border-color: #d0d0d0 #a8a8a8 #8b8b8b;
  background: #e8e8e8 center -23px repeat-x url('FormDecorator/ButtonSprites.gif');
  color: #000;
  font-family: "segoe ui",arial,sans-serif; }

.RadMenu_AWTGrid .rgHCMClear:hover,
.RadMenu_AWTGrid .rgHCMFilter:hover {
  border-color: #d1d1d1 #b9b9b9 #a3a3a3;
  background-position: center -67px;
  background-color: #e5e5e5; }

.RadMenu_AWTGrid_Context .rgFilterApply,
.RadMenu_AWTGrid_Context .rgFilterCancel {
  border-color: #b3b3b3;
  color: #333333;
  background-color: #e6e6e6;
  background-image: linear-gradient(white, #e6e6e6);
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-size: 12px; }

div.RadMenu_AWTGrid_Context .rlbGroup {
  border-color: #e6e6e6; }

.GridContextMenu_AWTGrid .rmLeftImage {
  background-image: url('../Common/Grid/contextMenu.gif'); }

.GridContextMenu_AWTGrid .rgHCMSortAsc .rmLeftImage {
  background-position: 0 0; }

.GridContextMenu_AWTGrid .rgHCMSortDesc .rmLeftImage {
  background-position: 0 -40px; }

.GridContextMenu_AWTGrid .rgHCMUnsort .rmLeftImage {
  background-position: 0 -80px; }

.GridContextMenu_AWTGrid .rgHCMGroup .rmLeftImage {
  background-position: 0 -120px; }

.GridContextMenu_AWTGrid .rgHCMUngroup .rmLeftImage {
  background-position: 0 -160px; }

.GridContextMenu_AWTGrid .rgHCMCols .rmLeftImage {
  background-position: 0 -200px; }

.GridContextMenu_AWTGrid .rgHCMFilter .rmLeftImage {
  background-position: 0 -240px; }

.GridContextMenu_AWTGrid .rgHCMUnfilter .rmLeftImage {
  background-position: 0 -280px; }

.RadGrid_AWTGrid .rgGroupPanel {
  border: 0;
  border-bottom: 1px solid #828282;
  background: #eeeeee 0 -1900px repeat-x url('Grid/sprite.gif'); }
  .RadGrid_AWTGrid .rgGroupPanel td {
    border: 0;
    padding: 3px 4px; }
    .RadGrid_AWTGrid .rgGroupPanel td td {
      padding: 0; }
  .RadGrid_AWTGrid .rgGroupPanel .rgSortAsc {
    background-position: 4px -144px; }
  .RadGrid_AWTGrid .rgGroupPanel .rgSortDesc {
    background-position: 4px -94px; }

.RadGrid_AWTGrid .rgUngroup {
  background-position: 0 -6998px; }

.RadGrid_AWTGrid .rgGroupItem {
  border: 1px solid;
  border-color: #c4c4c4 #c4c4c4 #9e9e9e;
  background: #c6c6c6 0 -6500px repeat-x url('Grid/sprite.gif'); }

.RadGrid_AWTGrid .rgMasterTable td.rgGroupCol, .RadGrid_AWTGrid .rgMasterTable td.rgExpandCol {
  border-color: #d9d9d9;
  background: #d9d9d9 none; }

html .RadGrid_AWTGrid .rgFooterWrapper .rgGroupCol {
  background: #e6e6e6; }

.RadGrid_AWTGrid .rgGroupHeader {
  background: #d9d9d9;
  font-size: 1.1em;
  line-height: 21px;
  color: #000; }
  .RadGrid_AWTGrid .rgGroupHeader td {
    border-top: 1px solid #828282;
    border-bottom: 1px solid #d9d9d9; }
    .RadGrid_AWTGrid .rgGroupHeader td.rgGroupCol {
      border-top-color: #828282; }

.RadGrid_AWTGrid .rgExpand {
  background-position: 5px -496px; }

.RadGrid_AWTGrid .rgCollapse {
  background-position: 3px -454px; }

.RadGrid_AWTGrid .rgEditForm:not(.rgEditPopup) {
  border-bottom: 1px solid #828282; }

.RadGrid_AWTGrid .rgUpdate {
  background-position: 0 -1800px; }

.RadGrid_AWTGrid .rgCancel {
  background-position: 0 -1850px; }

.RadGrid_AWTGrid .rgDetailTable {
  border-color: #828282; }

.RadGrid_AWTGrid .rgCommandRow {
  background: #c5c5c5 0 -2099px repeat-x url('Grid/sprite.gif');
  color: #000; }

.RadGrid_AWTGrid .rgCommandCell {
  border: 1px solid;
  border-color: #999 #f2f2f2;
  border-top-width: 0;
  padding: 0; }

.RadGrid_AWTGrid tfoot .rgCommandCell,
.RadGrid_AWTGrid .rgMasterTable > tbody > tr.rgCommandRow .rgCommandCell {
  border-top-width: 1px;
  border-bottom-width: 0; }

.RadGrid_AWTGrid .rgCommandTable {
  border: 0;
  border-top: 1px solid #fdfdfd;
  border-bottom: 1px solid #e7e7e7; }
  .RadGrid_AWTGrid .rgCommandTable td {
    border: 0;
    padding: 2px 7px; }

.RadGrid_AWTGrid .rgCommandRow a {
  color: #000;
  text-decoration: none; }

.RadGrid_AWTGrid .rgSave {
  background-position: 0 -1825px;
  height: 18px;
  width: 18px; }

.RadGrid_AWTGrid .rgAdd {
  margin-right: 3px;
  background-position: 0 -1650px; }

.RadGrid_AWTGrid .rgRefresh {
  margin-right: 3px;
  background-position: 0 -1600px; }

.RadGrid_AWTGrid .rgEdit {
  background-position: 0 -1700px; }

.RadGrid_AWTGrid .rgDel {
  background-position: 0 -1750px; }

.RadGrid_AWTGrid .rgSelected .rgDel {
  background-position: 0 -1775px; }

.RadGrid_AWTGrid .rgExpXLS,
.RadGrid_AWTGrid .rgExpDOC,
.RadGrid_AWTGrid .rgExpPDF,
.RadGrid_AWTGrid .rgExpCSV {
  background-image: url('../Common/Grid/export.gif'); }

.RadGrid_AWTGrid .rgExpXLS {
  background-position: 0 0; }

.RadGrid_AWTGrid .rgExpDOC {
  background-position: 0 -50px; }

.RadGrid_AWTGrid .rgExpPDF {
  background-position: 0 -100px; }

.RadGrid_AWTGrid .rgExpCSV {
  background-position: 0 -150px; }

.rgCellSelectorArea_AWTGrid,
.GridRowSelector_AWTGrid {
  background: #4c4e54; }

.GridItemDropIndicator_AWTGrid {
  border-top: 1px dashed #666; }

.GridToolTip_AWTGrid {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px; }

.GridToolTip_AWTGrid {
  border: 1px solid #828282;
  padding: 3px;
  background: #fff;
  color: #333; }

.RadGridRTL_AWTGrid .rgPageFirst {
  background-position: 0 -1000px; }
  .RadGridRTL_AWTGrid .rgPageFirst:hover {
    background-position: 0 -1050px; }

.RadGridRTL_AWTGrid .rgPagePrev {
  background-position: 0 -850px; }
  .RadGridRTL_AWTGrid .rgPagePrev:hover {
    background-position: 0 -900px; }

.RadGridRTL_AWTGrid .rgPageNext {
  background-position: 0 -700px; }
  .RadGridRTL_AWTGrid .rgPageNext:hover {
    background-position: 0 -750px; }

.RadGridRTL_AWTGrid .rgPageLast {
  background-position: 0 -550px; }
  .RadGridRTL_AWTGrid .rgPageLast:hover {
    background-position: 0 -600px; }

.RadGridRTL_AWTGrid .rgExpand {
  background-position: -20px -496px; }
