@font-face {
    font-family: "Roboto";
    src: url("../../../../../Common/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-weight: bold;
    font-style: italic;
    src: url("../../../../../Common/fonts/Roboto/Roboto-BoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: italic;
    src: url("../../../../../Common/fonts/Roboto/Roboto-italic.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-weight: bold;
    src: url("../../../../../Common/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}

.RadInput_AWTCalendar {
    color: #333333;
    font-size: 14px;
    font-family: "Roboto","Segoe UI", Arial, Helvetica, sans-serif !important;
    height: 20px !important;
    vertical-align: top !important;
}

.RadInput_AWTCalendar,
.RadInputMgr_AWTCalendar {
    font: 14px "Roboto","segoe ui",arial,sans-serif;
}

html body .RadInput_AWTCalendar .riTextBox,
html body .RadInputMgr_AWTCalendar {
    border-color: #b3b3b3;
    color: #333333;
    background-color: #ffffff;
    font: 14px "Roboto","segoe ui",arial,sans-serif;
}

html body .RadInput_AWTCalendar .riEmpty,
html body .RadInput_Empty_AWTCalendar {
  color: #a6a6a6; }

html body .RadInput_AWTCalendar .riHover,
html body .RadInput_Hover_AWTCalendar,
html body .RadInput_AWTCalendar .riFocused,
html body .RadInput_Focused_AWTCalendar {
  border-color: #515151;
  color: #333333; }

html body .RadInput_AWTCalendar .riRead,
html body .RadInput_Read_AWTCalendar {
  border-color: #d0d0d0; }

html body .RadInput_AWTCalendar .riDisabled,
html body .RadInput_Disabled_AWTCalendar {
  border-color: #d0d0d0;
  color: #8a8a8a;
  cursor: default; }

html body .RadInput_AWTCalendar .riError,
html body .RadInput_Error_AWTCalendar {
  border-color: #d51923;
  background: white 100% -298px no-repeat url('Input/sprite.gif');
  color: #d51923; }

.RadForm.rfdTextbox .RadInput_AWTCalendar .riError[type="text"],
.RadForm.rfdTextbox .RadInput_Error_AWTCalendar[type="text"] {
  border-color: #d51923;
  background: white 100% -298px no-repeat url('Input/sprite.gif');
  color: #d51923; }

html body .RadInput_AWTCalendar .riNegative,
html body .RadInput_Negative_AWTCalendar {
  color: #565656; }

.RadInput_AWTCalendar a {
  background: transparent no-repeat url('Input/sprite.gif'); }

.RadInput_AWTCalendar .riBtn a {
  width: 20px;
  height: 18px;
  line-height: 18px;
  background-position: 3px 5px; }
  .RadInput_AWTCalendar .riBtn a:hover {
    background-position: 3px -45px; }

.RadInput_AWTCalendar .riSpin a {
  width: 15px;
  height: 7px;
  line-height: 7px; }

.RadInput_AWTCalendar a.riUp {
  background-position: 4px -98px; }
  .RadInput_AWTCalendar a.riUp:hover {
    background-position: 4px -148px; }

.RadInput_AWTCalendar a.riDown {
  background-position: 4px -199px; }
  .RadInput_AWTCalendar a.riDown:hover {
    background-position: 4px -249px; }

.RadInput_AWTCalendar .riLabel {
  color: #000; }

.RadInput_AWTCalendar .riResizeIcon {
  background: url('Common/radActionsSprite.png') no-repeat transparent;
  background-position: -6.5px -966.5px;
  margin-bottom: -1px; }

html body .RadInputRTL_AWTCalendar .riError,
html body .RadInputRTL_Error_AWTCalendar {
  background-position: 3px -298px; }

html body .RadInputRTL_AWTCalendar .riResizeIcon {
  background-position: -6.5px -986.5px; }

.RadForm.rfdTextbox .RadInputRTL_AWTCalendar .riError[type="text"],
.RadForm.rfdTextbox .RadInputRTL_Error_AWTCalendar[type="text"] {
  background-position: 3px -298px; }


.RadCalendar_AWTCalendar {
    border-color: #cccccc;
    color: #333333;
    background-color: #ffffff;
    font-size: 14px;
    font-family: "Roboto", "Segoe UI", Arial, Helvetica, sans-serif;
}
  .RadCalendar_AWTCalendar .rcTitlebar {
    border-color: #868686 #868686 #c4c4c4;
    background: #eaeaea 0 -1000px repeat-x url('Calendar/sprite.gif');
    color: #000; }
    .RadCalendar_AWTCalendar .rcTitlebar table {
        font-family: "Roboto", "Segoe UI", Arial, Helvetica, sans-serif;
        font-size: 14px;
        line-height: 23px;
    }
    .RadCalendar_AWTCalendar .rcTitlebar td {
      padding: 0 0 1px; }
    .RadCalendar_AWTCalendar .rcTitlebar .rcPrev,
    .RadCalendar_AWTCalendar .rcTitlebar .rcNext,
    .RadCalendar_AWTCalendar .rcTitlebar .rcFastPrev,
    .RadCalendar_AWTCalendar .rcTitlebar .rcFastNext {
      background-image: url('Calendar/sprite.gif');
      color: #ccc; }
    .RadCalendar_AWTCalendar .rcTitlebar .rcFastPrev {
      margin-left: 6px;
      background-position: 1px -197px; }
    .RadCalendar_AWTCalendar .rcTitlebar a.rcFastPrev:hover {
      background-position: 1px -247px; }
    .RadCalendar_AWTCalendar .rcTitlebar .rcPrev {
      background-position: 4px -297px; }
    .RadCalendar_AWTCalendar .rcTitlebar a.rcPrev:hover {
      background-position: 4px -347px; }
    .RadCalendar_AWTCalendar .rcTitlebar .rcNext {
      background-position: 3px -397px; }
    .RadCalendar_AWTCalendar .rcTitlebar a.rcNext:hover {
      background-position: 3px -447px; }
    .RadCalendar_AWTCalendar .rcTitlebar .rcFastNext {
      margin-right: 6px;
      background-position: 1px -497px; }
    .RadCalendar_AWTCalendar .rcTitlebar a.rcFastNext:hover {
      background-position: 1px -547px; }
  .RadCalendar_AWTCalendar .rcMain {
    border-color: #868686; }
    .RadCalendar_AWTCalendar .rcMainTable {
        font-family: "Roboto", "Segoe UI", Arial, Helvetica, sans-serif;
        font-size: 12px;
        line-height: 17px;
    }
  .RadCalendar_AWTCalendar .rcHeader,
  .RadCalendar_AWTCalendar .rcFooter {
    border-color: #868686; }
  .RadCalendar_AWTCalendar .rcWeek th {
    border-bottom: 1px solid #c5c5c5;
    padding: 4px 6px 3px 0;
    color: #333333; }
  .RadCalendar_AWTCalendar .rcWeek .rcViewSel {
    width: 13px;
    padding: 0 7px 0 9px;
    background: #eee; }
  .RadCalendar_AWTCalendar .rcRow th {
    width: 13px;
    padding: 0 7px 0 9px;
    background: #eee;
    color: #696969; }
  .RadCalendar_AWTCalendar .rcRow td {
    border-color: #fff; }
  .RadCalendar_AWTCalendar .rcMain .rcRow a,
  .RadCalendar_AWTCalendar .rcMain .rcRow span {
    color: #333333; }
  .RadCalendar_AWTCalendar .rcMain .rcWeekend a {
    color: #666; }
  .RadCalendar_AWTCalendar .rcRow .rcToday {
    border-color: #898989; }
  .RadCalendar_AWTCalendar .rcMain .rcOtherMonth a,
  .RadCalendar_AWTCalendar .rcMain .rcOutOfRange span {
    color: #898989; }
  .RadCalendar_AWTCalendar .rcRow .rcSelected {
    border-color: #8d8d8d #7d7d7d #6c6c6c;
    background: #828282 0 -1700px repeat-x url('Calendar/sprite.gif'); }
  .RadCalendar_AWTCalendar .rcMain .rcRow .rcSelected a {
    color: #fff; }
  .RadCalendar_AWTCalendar .rcRow .rcHover {
    border-color: #c4c4c4 #b2b2b2 #9e9e9e;
    background: #c5c5c5 0 -1600px repeat-x url('Calendar/sprite.gif'); }
  .RadCalendar_AWTCalendar .rcMain .rcRow .rcHover a {
    color: #333333; }

.RadCalendarMultiView_AWTCalendar .rcTitlebar {
  border-color: #9a9a9a #9c9c9c #9c9c9c;
  background: #c5c5c5 0 -1199px repeat-x url('Calendar/sprite.gif'); }
  .RadCalendarMultiView_AWTCalendar .rcTitlebar table {
    border: 1px solid;
    border-color: #fdfdfd #f3f3f3 #e7e7e7;
    line-height: 27px; }
  .RadCalendarMultiView_AWTCalendar .rcTitlebar a.rcFastPrev:hover {
    background-position: 1px -647px; }
  .RadCalendarMultiView_AWTCalendar .rcTitlebar a.rcPrev:hover {
    background-position: 4px -747px; }
  .RadCalendarMultiView_AWTCalendar .rcTitlebar a.rcNext:hover {
    background-position: 3px -847px; }
  .RadCalendarMultiView_AWTCalendar .rcTitlebar a.rcFastNext:hover {
    background-position: 1px -947px; }

.RadCalendarMultiView_AWTCalendar .rcMain {
  border-color: #9b9b9b; }

.RadCalendarMultiView_AWTCalendar .rcCalendar {
  border-color: #868686; }
  .RadCalendarMultiView_AWTCalendar .rcCalendar .rcMainTable {
    height: 176px; }

.RadCalendarMultiView_AWTCalendar .rcMainTable .rcTitle {
  border-color: #c4c4c4;
  padding: 0 0 2px;
  background: #eaeaea 0 -1000px repeat-x url('Calendar/sprite.gif');
  line-height: 22px; }

table.RadCalendarMonthView_AWTCalendar {
  border-color: #979797;
  background: #ffffff;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #333333; }

.RadCalendarMonthView_AWTCalendar #rcMView_Feb, .RadCalendarMonthView_AWTCalendar #rcMView_Apr, .RadCalendarMonthView_AWTCalendar #rcMView_Jun, .RadCalendarMonthView_AWTCalendar #rcMView_Aug, .RadCalendarMonthView_AWTCalendar #rcMView_Oct, .RadCalendarMonthView_AWTCalendar #rcMView_Dec {
  border-right: 1px solid #e0e0e0; }

.RadCalendarMonthView_AWTCalendar a {
  color: #333333; }

.RadCalendarMonthView_AWTCalendar .rcSelected a {
  border-color: #8d8d8d #7d7d7d #6c6c6c;
  background: #828282 0 -1700px repeat-x url('Calendar/sprite.gif');
  color: #fff; }

.RadCalendarMonthView_AWTCalendar #rcMView_PrevY a, .RadCalendarMonthView_AWTCalendar #rcMView_NextY a {
  width: 17px;
  height: 14px;
  background-image: url('Calendar/sprite.gif');
  color: #ccc; }

.RadCalendarMonthView_AWTCalendar #rcMView_PrevY a {
  background-position: 7px -196px; }

.RadCalendarMonthView_AWTCalendar #rcMView_NextY a {
  background-position: 7px -496px; }

.RadCalendarMonthView_AWTCalendar .rcButtons {
  padding: 6px 7px 5px; }

.RadCalendarMonthView_AWTCalendar input {
    border-color: #a7a7a7 #7b7b7b #7b7b7b #a7a7a7;
    background: #e9e9e9 0 -2300px repeat-x url('Calendar/sprite.gif');
    color: #000;
    font-family: "Roboto", "Segoe UI", Arial, Helvetica, sans-serif;
    font-size: 14px;
}

table.RadCalendarTimeView_AWTCalendar {
    border-color: #868686;
    background: #ffffff;
    font-family: "Roboto", "Segoe UI", Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.RadCalendarTimeView_AWTCalendar th {
  border-bottom: 1px solid #c4c4c4;
  padding: 0 0 1px;
  background: #eaeaea 0 -1000px repeat-x url('Calendar/sprite.gif');
  color: #000;
  line-height: 23px; }

table.RadCalendarTimeView_AWTCalendar td {
  border-color: #c5c5c5; }

.RadCalendarTimeView_AWTCalendar a {
  color: #333333; }

.RadCalendarTimeView_AWTCalendar td.rcSelected a {
  border-color: #8d8d8d #7d7d7d #6c6c6c;
  background: #828282 0 -1700px repeat-x url('Calendar/sprite.gif');
  color: #fff; }

.RadCalendarTimeView_AWTCalendar td.rcHover a {
  border-color: #c4c4c4 #b2b2b2 #9e9e9e;
  background: #c5c5c5 0 -1600px repeat-x url('Calendar/sprite.gif');
  color: #000; }

.RadCalendarTimeView_AWTCalendar .rcFooter {
  border-color: #c5c5c5; }

.RadPicker_AWTCalendar .rcCalPopup,
.RadPicker_AWTCalendar .rcTimePopup {
  background-image: url('Calendar/sprite.gif'); }

.RadPicker_AWTCalendar .rcCalPopup {
  background-position: 0 0; }

.RadPicker_AWTCalendar a.rcDisabled.rcCalPopup:hover {
  background-position: 0 0; }

.RadPicker_AWTCalendar a.rcCalPopup:hover, .RadPicker_AWTCalendar a.rcCalPopup:focus, .RadPicker_AWTCalendar a.rcCalPopup:active {
  background-position: 0 -50px; }

.RadPicker_AWTCalendar .rcTimePopup {
  background-position: 0 -100px; }

.RadPicker_AWTCalendar a.rcDisabled.rcTimePopup:hover {
  background-position: 0 -100px; }

.RadPicker_AWTCalendar a.rcTimePopup:hover, .RadPicker_AWTCalendar a.rcTimePopup:focus, .RadPicker_AWTCalendar a.rcTimePopup:active {
  background-position: 0 -150px; }

.RadCalendarRTL_AWTCalendar .rcTitlebar .rcFastPrev {
  background-position: 1px -497px; }

.RadCalendarRTL_AWTCalendar .rcTitlebar a.rcFastPrev:hover {
  background-position: 1px -547px; }

.RadCalendarRTL_AWTCalendar .rcTitlebar .rcPrev {
  background-position: 3px -397px; }

.RadCalendarRTL_AWTCalendar .rcTitlebar a.rcPrev:hover {
  background-position: 3px -447px; }

.RadCalendarRTL_AWTCalendar .rcTitlebar .rcNext {
  background-position: 4px -297px; }

.RadCalendarRTL_AWTCalendar .rcTitlebar a.rcNext:hover {
  background-position: 4px -347px; }

.RadCalendarRTL_AWTCalendar .rcTitlebar .rcFastNext {
  background-position: 1px -197px; }

.RadCalendarRTL_AWTCalendar .rcTitlebar a.rcFastNext:hover {
  background-position: 1px -247px; }

.RadCalendarMultiViewRTL_AWTCalendar .rcTitlebar a.rcFastPrev:hover {
  background-position: 1px -947px; }

.RadCalendarMultiViewRTL_AWTCalendar .rcTitlebar a.rcPrev:hover {
  background-position: 3px -847px; }

.RadCalendarMultiViewRTL_AWTCalendar .rcTitlebar a.rcNext:hover {
  background-position: 4px -747px; }

.RadCalendarMultiViewRTL_AWTCalendar .rcTitlebar a.rcFastNext:hover {
  background-position: 1px -647px; }

