@font-face {
    font-family: "Roboto";
    src: url("../../../../../Common/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-weight: bold;
    font-style: italic;
    src: url("../../../../../Common/fonts/Roboto/Roboto-BoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: italic;
    src: url("../../../../../Common/fonts/Roboto/Roboto-italic.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-weight: bold;
    src: url("../../../../../Common/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}

.RadTreeView_AWTTreeView {
    color: #333333;
    font-size: 12px;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
}
  .RadTreeView_AWTTreeView .rtIn {
    background-image: url('Common/radGradientListSprite.png');
    background-image: linear-gradient(transparent, transparent); }
  .RadTreeView_AWTTreeView .rtHover .rtIn {
    border-color: darkgray;
    color: #000000;
    background-color: #c2c2c2;
    background-image: linear-gradient(gainsboro, #c2c2c2); }
  .RadTreeView_AWTTreeView .rtSelected .rtIn {
    border-color: #676767;
    color: #ffffff;
    background-color: #808080;
    background-image: linear-gradient(#9a9a9a, #808080); }
  .RadTreeView_AWTTreeView .rtChecked,
  .RadTreeView_AWTTreeView .rtUnchecked,
  .RadTreeView_AWTTreeView .rtIndeterminate {
    background-image: url('Common/radFormToggleSprite.png'); }
  .RadTreeView_AWTTreeView .rtLoadingIcon {
    background-image: url('Common/loading_small.gif'); }
    .RadTreeView_AWTTreeView .rtPlus {
        width: 19px !important;
        height: 20px !important;
        background-image: url('TreeView/Plus.gif') !important;
        background-position-x: 0px !important;
        background-position-y: 0px !important;
    }
    .RadTreeView_AWTTreeView .rtMinus {
        width: 19px !important;
        height: 20px !important;
        background-image: url('TreeView/Minus.gif') !important;
        background-position-x: 0px !important;
        background-position-y: 0px !important;
    }
    .RadTreeView_AWTTreeView .rtUL .rtUL {
        padding-left: 20px !important;
    }
