@font-face {
    font-family: "Roboto";
    src: url("../../../../Common/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-weight: bold;
    font-style: italic;
    src: url("../../../../Common/fonts/Roboto/Roboto-BoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: italic;
    src: url("../../../../Common/fonts/Roboto/Roboto-italic.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-weight: bold;
    src: url("../../../../Common/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}
.toolbartable
{
	background: #889CD5;
	font-size: 15px;
	font-family: "Roboto", "Segoe UI", "Arial", "Verdana";
	color: Black;
}
.toolbartext
{
	font-size: 12px;
	font-family: "Roboto", "Segoe UI", "Arial", "Verdana";
	font-weight:bolder;
	color: Black;
}
.toolbarselect
{
	font-size: 11px;
	font-family: "Roboto", "Segoe UI", "Arial", "Verdana";
	font-weight:normal;
}
.toolbarbutton
{
    FONT-SIZE: 11px;
    FONT-FAMILY: "Roboto", "Segoe UI", "Arial", "Verdana";
    BACKGROUND-COLOR: #cccccc;
    color:Black;
    border-color:Silver;
}
.toolbartitleheading
{
	font-size: 15px;
	font-family: "Roboto", "Segoe UI", "Arial", "Verdana";
	color: Black;
	text-align:right;
}
.toolbartitle
{
	font-size: 15px;
	font-family: "Roboto", "Segoe UI", "Arial", "Verdana";
	color: Black;
	text-align:right;
	font-weight:bolder;
}


.toolboxtable
{
	background:  #889CD5;
	font-size: 15px;
	font-family: "Roboto", "Segoe UI", "Arial", "Verdana";
	color: Black;
}
.toolboxinternaltable
{
	background:  #889CD5;
	font-size: 15px;
	font-family: "Roboto", "Segoe UI", "Arial", "Verdana";
	color: Black;
}
.toolboxheading
{
	background: black;
	font-size: 12px;
	font-family: "Roboto", "Segoe UI", "Arial", "Verdana";
	color: White;
	font-weight:bolder;
	text-align:center;
}
.toolboxcolumn
{
    FONT-SIZE: 11px;
    FONT-FAMILY: "Roboto", "Segoe UI", "Arial", "Verdana";
    BACKGROUND-COLOR:  #889CD5;
    color:white;
    border-color:White;
    border-top: 1px ridge #C6B36C;
	border-right: 1px ridge #413400;
	border-bottom: 1px ridge #413400;
	border-left: 1px ridge #C6B36C;
}
.toolboxbuttons
{
    FONT-SIZE: 11px;
    FONT-FAMILY: "Roboto", "Segoe UI", "Arial", "Verdana";
    BACKGROUND-COLOR: #889CD5;
    color:white;
    border-color:White;
}
.toolboxparent
{
	background:  #C4D2FB;
	font-size: 11px;
	font-family: "Roboto", "Segoe UI", "Arial", "Verdana";
	color: black;
	font-weight:bolder;
	text-align:center;
}
.toolboxparentbevell
{
	background:  #889CD5;
	font-size: 11px;
	font-family: "Roboto", "Segoe UI", "Arial", "Verdana";
	color: White;
	font-weight:bolder;
	text-align:center;
	border-top: 1px ridge #C6B36C;
	border-right: 1px ridge #413400;
	border-bottom: 1px ridge #413400;
	border-left: 1px ridge #C6B36C;
}


.imagetable
{
	background: #C4D2FB;
}
.imageiframe
{
	background: #FFFF66;
}



.propertiesboxtable
{
	background: #889CD5;
	font-size: 15px;
	font-family: "Roboto", "Segoe UI", "Arial", "Verdana";
	color: Black;
}
.propertiesboxheading
{
	background: Black;
	font-size: 12px;
	font-family: "Roboto", "Segoe UI", "Arial", "Verdana";
	color: White;
	font-weight:bolder;
	text-align:center;
}
.propertiesboxactionselect
{
	font-size: 11px;
	font-family: "Roboto", "Segoe UI", "Arial", "Verdana";
	font-weight:normal;
}
.propertiesboxbuttons
{
    FONT-SIZE: 11px;
    FONT-FAMILY: "Roboto", "Segoe UI", "Arial", "Verdana";
    BACKGROUND-COLOR: #cccccc;
    color:black;
    border-color:silver;
}
.propertiesboxpropertytable
{
	background: Silver;
	font-size: 15px;
	font-family: "Roboto", "Segoe UI", "Arial", "Verdana";
	color: Black;
}
.propertiesboxpropertyextraspace
{
	background:  #C4D2FB;
	font-size: 15px;
	font-family: "Roboto", "Segoe UI", "Arial", "Verdana";
	color: Black;
}
.propertiesboxpropertybuttonstable
{
	background:  #C4D2FB;
	font-size: 15px;
	font-family: "Roboto", "Segoe UI", "Arial", "Verdana";
	color: Black;
}
.propertiesboxinput
{
	FONT-SIZE: 11px;
    FONT-FAMILY: "Roboto", "Segoe UI", "Arial", "Verdana";
    text-decoration: none;
}
.propertiesboxselect
{
	font-size: 11px;
	font-family: "Roboto", "Segoe UI", "Arial", "Verdana";
	font-weight:normal;
}
.propertiesboxpropertytitle
{
	font-size: 11px;
	font-family: "Roboto", "Segoe UI", "Arial", "Verdana";
	font-weight:normal;
	background: #C4D2FB;
}
.propertiesboxinputs
{
    FONT-SIZE: 11px;
    FONT-FAMILY: "Roboto", "Segoe UI", "Arial", "Verdana";
	border: 0px #737373 solid;
	text-decoration: none;
}
.propertiesboxinputstable
{
	background: White;
	font-size: 11px;
	font-family: "Roboto", "Segoe UI", "Arial", "Verdana";
	color: Black;
}
.propertiesboxinputbutton
{
    FONT-SIZE: 11px;
    FONT-FAMILY: "Roboto", "Segoe UI", "Arial", "Verdana";
    BACKGROUND-COLOR: #889CD5;
    color:White;
    border-color:White;
}



TD
{
    FONT-SIZE: 10px;
    FONT-FAMILY: "Roboto", "Segoe UI", "Arial", "Verdana";
}
A
{
    COLOR: navy
}
.linkinputs
{
    FONT-SIZE: 11px;
    FONT-FAMILY: "Roboto", "Segoe UI", "Arial", "Verdana";
    text-decoration: none;
    border: 1px #737373 solid;
    width: 200px
}
.returninputs
{
    FONT-SIZE: 11px;
    FONT-FAMILY: "Roboto", "Segoe UI", "Arial", "Verdana";
    text-decoration: none;
    border: 1px #737373 solid;
    width: 150px
}
.inputs
{
    FONT-SIZE: 11px;
    FONT-FAMILY: "Roboto", "Segoe UI", "Arial", "Verdana";
    text-decoration: none;
    border: 1px #7b9ebd solid
}
.lockedinputs
{
    FONT-SIZE: 11px;
    FONT-FAMILY: "Roboto", "Segoe UI", "Arial", "Verdana";
    BACKGROUND-COLOR: #DBEAF5;
}
.buttons
{
    FONT-SIZE: 11px;
        FONT-FAMILY: "Roboto", "Segoe UI", "Arial", "Verdana";
        BACKGROUND-COLOR: #cccccc;
        color:black;
        border-color:silver;
}
.pageheader
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    FONT-FAMILY: "Roboto", "Segoe UI", "Arial", "Verdana";
}
.properties
{
	FONT-SIZE: 11px;
	COLOR: maroon;
	FONT-FAMILY: "Roboto", "Segoe UI", "Arial", "Verdana";
	text-decoration: underline;	
}
.list
{
    FONT-SIZE: 11px;
    FONT-FAMILY: "Roboto", "Segoe UI", "Arial", "Verdana";
}
.propertyselected
{
    BACKGROUND-COLOR:Blue 
}
.propertytableinputs
{
    FONT-SIZE: 11px;
    FONT-FAMILY: "Roboto", "Segoe UI", "Arial", "Verdana";
	border: 1px solid white;
	text-decoration: none
}
.propertypage
{
	background-color : #93BEE2;
}
.controlbg
{
	background-color : #93BEE2;
}
.gridtableinputs
{
    FONT-SIZE: 11px;
    FONT-FAMILY: "Roboto", "Segoe UI", "Arial", "Verdana";
	border: 1px solid black;
}
.input-buttonswork {
		font-family: Verdana, Arial;
		font-size: 11px;
		border: 1px inset #447392;
		color: #2A3B66;
		width:auto;
		background-image:url(../images/button-bg.gif);
		height: 19px;
}

.gridanchor
{
    FONT-SIZE: 10px;
	height:10;
	font-family:"Roboto", "Segoe UI", "Arial", "Verdana";
	text-decoration:none;
	padding:5px
}

BODY {
 BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-SIZE: 11px; MARGIN: 0px; BORDER-LEFT: 0px; CURSOR: default; BORDER-BOTTOM: 0px; BACKGROUND-COLOR: #FFFFFF
}

.header2 {
	font-family: "Roboto", "Segoe UI", "Arial", "Verdana";
	font-size: 11px;
	
	color: #000000;
	height: 25px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-image: url(../images/Common-Heading-bg.png);
	
	
	padding-left: 10px;
}


.Test
{
	font-family: "Roboto", "Segoe UI", "Arial", "Verdana";
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	height: 25px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-image: url(../../images/Queue-footer-bg.PNG);
	}

.gridbg {
	font-family: "Roboto", "Segoe UI", "Arial", "Verdana";
	font-size: 9px;
	font-weight: bold;
	color: #0a1e4c;
	height: 23px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-image: url(../../images/bg-for-grid.gif);
	
	padding-left: 10px;
}
.top-links {
	font-family: "Roboto", "Segoe UI", "Arial", "Verdana";
	font-size: 11px;
	color: #000000;
	height: 20;
	border: 0px solid #142e6c;
	padding: 3px;
	text-align: center;
	vertical-align: middle;
	background-image: url(../../images/bg-icons.gif);
	text-decoration: none;
}
a.top-links:hover {
	background-image: url(../../images/mover-top-links.gif);
	font-family: "Roboto", "Segoe UI", "Arial", "Verdana";
	font-size: 11px;
	text-decoration: none;
	border: 1px solid #000033;
	display: table-cell;
	padding: 2px;
	text-align:center;
	vertical-align: middle;
}
.header1 {
	font-family: "Roboto", "Segoe UI", "Arial", "Verdana";
	font-size: 10px;
	color: #FFFFFF;
	height: 11px;
}
input {
 font-family: Verdana;
 font-size: 11px;
 text-decoration: none;
 border: 1px solid #7b9ebd;
}
 .tab-bg
{ 
  color: #FFFFFF; 
  background-color: #00008B;
  background-image: url(../../images/tab-bg.gif)
}

 .tab-bg-dis
{ 
  color: #FFFFFF; 
  background-color: #00008B;
  background-image: url(../../images/tab-bg-dis.gif)
}

.header5 {
	font-family: "Roboto", "Segoe UI", "Arial", "Verdana";
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	height: 25px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-image: url(../../images/top-bg-02.gif);
	padding-left: 10px;
}
 
.runtext2 
{
 font-family: "Roboto", "Segoe UI", "Arial", "Verdana";
 font-size: 10px;
 font-weight:bold;
 text-decoration: none;
 color: #FFFFFF;
}

.input-select {
	font-family: "Roboto", "Segoe UI", "Arial", "Verdana";
	font-size: 11px;
	text-decoration: none;
	border: 1px solid #7b9ebd;
}

.input-text {
	font-family: "Roboto", "Segoe UI", "Arial", "Verdana";
	font-size: 11px;
	text-decoration: none;
	border: 1px solid #7b9ebd;
}
select {
	font-family: "Roboto", "Segoe UI", "Arial", "Verdana";
	font-size: 11px;
	text-decoration: none;
	border: 1px solid #7b9ebd;
}
.error-messages {
	font-family: "Roboto", "Segoe UI", "Arial", "Verdana";
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	background-image:url(../../images/properties/bg-error-messages.gif);
	text-decoration: none;
}

.runtext1 {
	font-family: "Roboto", "Segoe UI", "Arial", "Verdana";
	font-size: 11px;
	text-decoration: none;
	color: #000000;
}

.highlight1 {
	font-family: "Roboto", "Segoe UI", "Arial", "Verdana";
	font-size: 11px;
	text-decoration: none;
	color: #9f2409;
}

.iframe-bg {
	background-color: #eef0f6;
}
.TextboxStyle 
{
	border-right: #7a96df 1px solid;
	border-top: #7a96df 1px solid;
	font-size: 8pt;
	border-left: #7a96df 1px solid;	
	color: black;
	border-bottom: #7a96df 1px solid;
}
.TextAreaboxStyle 
{
	border-right: #7a96df 1px solid;
	border-top: #7a96df 1px solid;
	font-family: Arial;
	font-size: 9pt;
	border-left: #7a96df 1px solid;	
	color: black;
	border-bottom: #7a96df 1px solid;
}
.body-blue {
 BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-SIZE: 11px; MARGIN: 0px; BORDER-LEFT: 0px; CURSOR: default; BORDER-BOTTOM: 0px; BACKGROUND-COLOR: #acc0e9
}
.radio {
 font-family: "Roboto", "Segoe UI", "Arial", "Verdana";
 font-size: 11px;
 text-decoration: none;
 border: 0px solid #7b9ebd;
}
.WhiteBgColor
{
	background-color:White;
}
.ColorRedCode
{
	color:Red;
}
.E7EFFEColorCode
{
	background-color:#E7EFFE;
}
.6A98BBColorCode
{
	background-color:#6A98BB;
	
}