@font-face {
    font-family: "Roboto";
    src: url("../../../Common/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-weight: bold;
    font-style: italic;
    src: url("../../../Common/fonts/Roboto/Roboto-BoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: italic;
    src: url("../../../Common/fonts/Roboto/Roboto-italic.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-weight: bold;
    src: url("../../../Common/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}
.RadTabStrip_SkeltaEditor.RadTabStripVertical .rtsPrevArrowDisabled, .RadTabStrip_SkeltaEditor.RadTabStripVertical .rtsNextArrowDisabled {
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  /* IE 5-7 */
  filter: alpha(opacity=40);
  /* Netscape */
  -moz-opacity: 0.4;
  /* Safari 1.x */
  -khtml-opacity: 0.4;
  /* Good browsers */
  opacity: 0.4; }

.RadTabStrip_SkeltaEditor {
  	font-family: "Roboto", "Segoe UI", "Arial", "Verdana";
    font-size: 14px;
	text-align: center;
    color:#000000;
	background:  url('TabStrip/TabstripBackground.gif') bottom left repeat-x;}
  .RadTabStrip_SkeltaEditor .rtsGhostTab {
    border-color: #d7d7d7;
    color: #767676;
    background-color: #ebebeb; }
  .RadTabStrip_SkeltaEditor .rtsLevel1 {    
    background:  url('TabStrip/TabstripBackground.gif') bottom left repeat-x;
  }
  .RadTabStrip_SkeltaEditor .rtsLevel2 {
    padding-top: 0;
    border-radius: 3px;
    color: #ffffff;
    background: #757b80; }
  .RadTabStrip_SkeltaEditor .rtsLevel3 {
    padding-top: 0;
    border-radius: 3px;
    color: #ffffff;
    background: #757b80; }
  .RadTabStrip_SkeltaEditor .rtsDisabled {
    opacity: .5; }
    .RadTabStrip_SkeltaEditor .rtsDisabled .rtsTxt {
      /* IE 8 */
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
      /* IE 5-7 */
      filter: alpha(opacity=50); }
  .RadTabStrip_SkeltaEditor .rtsLevel1 {
    font-size: 14px; }
    .RadTabStrip_SkeltaEditor .rtsLevel1 .rtsLink {
      padding-top: 5px;
      padding-bottom: 5px;
      border-left: 1px solid #c8cbce;
      border-right: 0px solid #9ab0b7;
      color: #333333;
      text-shadow: 0 1px rgba(255, 255, 255, 0.3);
      background-position: 0 0; }
    .RadTabStrip_SkeltaEditor .rtsLevel1 .rtsLink:hover {
        
      /*background:  url('TabStrip/tabMiddleOn.gif') bottom left repeat-x;*/
         }
    .RadTabStrip_SkeltaEditor .rtsLevel1 .rtsSelected,
    .RadTabStrip_SkeltaEditor .rtsLevel1 .rtsSelected:hover {
        
      background:  url('TabStrip/tabMiddleOn.gif') bottom left repeat-x;
    }
    .RadTabStrip_SkeltaEditor .rtsLevel1 .rtsDisabled,
    .RadTabStrip_SkeltaEditor .rtsLevel1 .rtsDisabled:hover {
      color: #333333;
      text-shadow: 0 1px rgba(255, 255, 255, 0.3);
      background: transparent; }
    .RadTabStrip_SkeltaEditor .rtsLevel1 .rtsFirst .rtsLink {
      border-left: 0; }
    .RadTabStrip_SkeltaEditor .rtsLevel1 .rtsLast .rtsLink {
      border-right: 0; }
    .RadTabStrip_SkeltaEditor .rtsLevel1 .rtsNextArrow,
    .RadTabStrip_SkeltaEditor .rtsLevel1 .rtsPrevArrow,
    .RadTabStrip_SkeltaEditor .rtsLevel1 .rtsPrevArrowDisabled,
    .RadTabStrip_SkeltaEditor .rtsLevel1 .rtsNextArrowDisabled {
      margin-top: 8px; }
  .RadTabStrip_SkeltaEditor .rtsLevel2 .rtsLink {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #ffffff;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3); }
  .RadTabStrip_SkeltaEditor .rtsLevel2 .rtsLink:hover {
    text-decoration: underline; }
  .RadTabStrip_SkeltaEditor .rtsLevel2 .rtsSelected,
  .RadTabStrip_SkeltaEditor .rtsLevel2 .rtsSelected:hover {
    background: #8c9194; }
  .RadTabStrip_SkeltaEditor .rtsLevel3 .rtsLink {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #ffffff;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3); }
  .RadTabStrip_SkeltaEditor .rtsLevel3 .rtsLink:hover {
    text-decoration: underline; }
  .RadTabStrip_SkeltaEditor .rtsLevel3 .rtsSelected,
  .RadTabStrip_SkeltaEditor .rtsLevel3 .rtsSelected:hover {
    background: #8c9194; }
  .RadTabStrip_SkeltaEditor .rtsScroll {
    height: 36px; }
  .RadTabStrip_SkeltaEditor .rtsNextArrow,
  .RadTabStrip_SkeltaEditor .rtsPrevArrow,
  .RadTabStrip_SkeltaEditor .rtsPrevArrowDisabled,
  .RadTabStrip_SkeltaEditor .rtsNextArrowDisabled {
    margin: 0 !important;
    height: 100%;
    background-color: #ebebeb;
    background-image: url('Common/radActionsSprite.png');
    background-repeat: no-repeat; }
  .RadTabStrip_SkeltaEditor .rtsNextArrow {
    background-position: -16px -157px; }
    .RadTabStrip_SkeltaEditor .rtsNextArrow:hover {
      background-color: #b4b4b4;
      background-position: -66px -157px; }
  .RadTabStrip_SkeltaEditor .rtsNextArrowDisabled,
  .RadTabStrip_SkeltaEditor .rtsNextArrowDisabled:hover {
    background-position: -16px -157px;
    opacity: .5; }
  .RadTabStrip_SkeltaEditor .rtsPrevArrow {
    background-position: -16px -107px; }
    .RadTabStrip_SkeltaEditor .rtsPrevArrow:hover {
      background-color: #b4b4b4;
      background-position: -66px -107px; }
  .RadTabStrip_SkeltaEditor .rtsPrevArrowDisabled,
  .RadTabStrip_SkeltaEditor .rtsPrevArrowDisabled:hover {
    background-position: -16px -107px;
    opacity: .5; }

.RadTabStrip_SkeltaEditor.RadTabStripVertical .rtsLevel1 .rtsLink {
  border-left: none;
  border-right: none;
  border-top: 1px solid #9ab0b7;
  border-bottom: 1px solid #c8cbce; }
.RadTabStrip_SkeltaEditor.RadTabStripVertical .rtsLevel1 .rtsFirst .rtsLink {
  border-top: 0; }
.RadTabStrip_SkeltaEditor.RadTabStripVertical .rtsLevel1 .rtsLast .rtsLink {
  border-bottom: 0; }
.RadTabStrip_SkeltaEditor.RadTabStripVertical .rtsNextArrow,
.RadTabStrip_SkeltaEditor.RadTabStripVertical .rtsPrevArrow,
.RadTabStrip_SkeltaEditor.RadTabStripVertical .rtsPrevArrowDisabled,
.RadTabStrip_SkeltaEditor.RadTabStripVertical .rtsNextArrowDisabled {
  height: 18px; }
.RadTabStrip_SkeltaEditor.RadTabStripVertical .rtsPrevArrow {
  background-position: -16px -16px; }
.RadTabStrip_SkeltaEditor.RadTabStripVertical .rtsNextArrow {
  background-position: -16px -66px; }
.RadTabStrip_SkeltaEditor.RadTabStripVertical .rtsPrevArrowDisabled {
  background-position: -16px -16px; }
.RadTabStrip_SkeltaEditor.RadTabStripVertical .rtsNextArrowDisabled {
  background-position: -16px -66px; }
.RadTabStrip_SkeltaEditor.RadTabStripVertical .rtsScroll {
  height: auto; }

.RadTabStripTop_SkeltaEditor .rtsLevel1:not(.rtsCenter):not(.rtsRight) .rtsFirst .rtsLink.rtsSelected, .RadTabStripTop_SkeltaEditor .rtsLevel1:not(.rtsCenter):not(.rtsRight) .rtsFirst .rtsLink:hover {
  border-radius: 3px 0 0 3px; }
.RadTabStripTop_SkeltaEditor .rtsLevel1:not(.rtsCenter) .rtsLast .rtsLink.rtsSelected, .RadTabStripTop_SkeltaEditor .rtsLevel1:not(.rtsCenter) .rtsLast .rtsLink:hover {
  border-radius: 0 3px 3px 0; }

html .RadTabStrip_SkeltaEditor_disabled .rtsTxt {
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  /* IE 5-7 */
  filter: alpha(opacity=50); }
html .RadTabStrip_SkeltaEditor_disabled .rtsLevel1 .rtsLink {
  color: #8d8d8d;
  cursor: default; }
  html .RadTabStrip_SkeltaEditor_disabled .rtsLevel1 .rtsLink:hover {
    color: #8d8d8d;
    background: transparent;
    background-image: none;
    color: #8d8d8d;
    font-weight: normal;
    text-shadow: 0 1px rgba(255, 255, 255, 0.3);
    -webkit-text-shadow: 0 1px rgba(255, 255, 255, 0.3); }
html .RadTabStrip_SkeltaEditor_disabled .rtsDisabled {
  opacity: 1; }

/** DropClues */
.rtsDropClue_SkeltaEditor {
  width: 16px;
  height: 16px;
  background-image: url('Common/radActionsSprite.png'); }

.rtsDropClueTop_SkeltaEditor {
  margin-top: -16px;
  margin-left: -8px;
  background-position: -17px -67px; }

.rtsDropClueRight_SkeltaEditor {
  margin-top: -8px;
  background-position: -17px -117px; }

.rtsDropClueBottom_SkeltaEditor {
  margin-left: -8px;
  background-position: -17px -17px; }

.rtsDropClueLeft_SkeltaEditor {
  margin-top: -8px;
  margin-left: -16px;
  background-position: -17px -167px; }
