<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<!--Manual Added-->
		<pages validateRequest="false" clientIDMode="AutoID" controlRenderingCompatibilityVersion="3.5">
			<namespaces>
				<add namespace="System.Web.Optimization" />
			</namespaces>
			<controls>
				<add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
			</controls>
		</pages>
		<!--<httpRuntime requestValidationMode="3.5" encoderType="HtmlAttributeEncodingNot" maxQueryStringLength="9000" enableVersionHeader="false" enableHeaderChecking="false" />-->
		<!--Manual Added-->
		<compilation debug="true" targetFramework="4.8">
			<assemblies>
				<add assembly="Workflow.NET.CodeBehind, Version=8.0.0.0, Culture=neutral, PublicKeyToken=17551b362668d8e5" />
				<add assembly="Workflow.NET.Web.Designer.NET2, Version=8.0.0.0, Culture=neutral, PublicKeyToken=741b70142a737a8c" />
				<add assembly="Skelta.BAM, Version=8.0.0.0, Culture=neutral, PublicKeyToken=de0fde9153fbc1cd" />
				<add assembly="Workflow.NET.NET2, Version=8.0.0.0, Culture=neutral, PublicKeyToken=c932f724c984e915" />
				<add assembly="ComponentArt.Charting.WebChart, Version=2007.1.1126.2, Culture=neutral, PublicKeyToken=9BC9F846553156BB" />
				<add assembly="Workflow.NET.Web.Report.NET2, Version=8.0.0.0, Culture=neutral, PublicKeyToken=0c41823d31887a1d" />
				<add assembly="ISNet.WebUI, Version=3.0.5000.1, Culture=neutral, PublicKeyToken=B1F2A8511635667A" />
				<add assembly="ISNet, Version=3.0.5000.1, Culture=neutral, PublicKeyToken=B1F2A8511635667A" />
				<add assembly="ISNet.ActiveReports.Exporting, Version=5.0.7200.1, Culture=neutral, PublicKeyToken=B1F2A8511635667A" />
				<add assembly="ISNet.WebUI.WebGrid, Version=10.0.7200.31, Culture=neutral, PublicKeyToken=3E60B85FB8502D5E" />
				<add assembly="Workflow.NET.Report.NET2, Version=8.0.0.0, Culture=neutral, PublicKeyToken=46f92499e031db41" />
				<add assembly="Workflow.NET.Web.ReportUI.NET2, Version=8.0.0.0, Culture=neutral, PublicKeyToken=9253506cb3905fc3" />
				<add assembly="Skelta.HWS.Web.QueueControl, Version=8.0.0.0, Culture=neutral, PublicKeyToken=5949a7e9885b3f82" />
				<add assembly="Skelta.HWS, Version=8.0.0.0, Culture=neutral, PublicKeyToken=926ee05bf5158731" />
				<add assembly="Skelta.HWS.Web.CalendarControl, Version=8.0.0.0, Culture=neutral, PublicKeyToken=15b045e4e5ec4a9c" />
				<add assembly="Skelta.HWS.Web.WorkListLayoutControl, Version=8.0.0.0, Culture=neutral, PublicKeyToken=6e88408c44de9a11" />
				<add assembly="Skelta.Repository.Web, Version=8.0.0.0, Culture=neutral, PublicKeyToken=bfb586d2c6c4a4f4" />
				<add assembly="Skelta.Enterprise, Version=8.0.0.0, Culture=neutral, PublicKeyToken=4283c24d4008696f" />
				<add assembly="Skelta.Forms.Core, Version=8.0.0.0, Culture=neutral, PublicKeyToken=9e1c371ee2c7592e" />
				<add assembly="Skelta.Forms.Web, Version=8.0.0.0, Culture=neutral, PublicKeyToken=c77871940edc2650" />
				<add assembly="Workflow.NET.ActionHandler.NET2, Version=8.0.0.0, Culture=neutral, PublicKeyToken=d6d141d290294c87" />
				<add assembly="Workflow.NET.ActionHandler.InvokeWebServices, Version=8.0.0.0, Culture=neutral, PublicKeyToken=92bf91362bc087ca" />
				<add assembly="System.Transactions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="Workflow.NET.Web.ProcessManagementControl.NET2, Version=8.0.0.0, Culture=neutral, PublicKeyToken=545b3f7f8a50f533" />
				<add assembly="SkeltaMemebershipProvider, Version=8.0.0.0, Culture=neutral, PublicKeyToken=4688395cfc73e61a" />
				<add assembly="Skelta.HWS.WorkListChannel.Web.WorkItemUIControl, Version=8.0.0.0, Culture=neutral, PublicKeyToken=633fc0dcc3dba080" />
				<add assembly="Skelta.HWS.WorkListChannel.Web.WorkItemListControl, Version=8.0.0.0, Culture=neutral, PublicKeyToken=99165406c26e796b" />
				<add assembly="Skelta.Repository.CodeBehind, Version=8.0.0.0, Culture=neutral, PublicKeyToken=e22a4e3dd0665a70" />
				<add assembly="Skelta.Scheduler, Version=8.0.0.0, Culture=neutral, PublicKeyToken=d1ec3d1b5fb9f0f9" />
				<add assembly="FileEventProvider, Version=8.0.0.0, Culture=neutral, PublicKeyToken=e9a244bf00e37c7b" />
				<add assembly="Skelta.HWS.WorkListChannel.Web, Version=8.0.0.0, Culture=neutral, PublicKeyToken=aed8955949a970b1" />
				<add assembly="Skelta.Configurations.DB, Version=8.0.0.0, Culture=neutral, PublicKeyToken=2e19164ab495b4e7" />
				<add assembly="Workflow.NET.Security.Client.NET2, Version=8.0.0.0, Culture=neutral, PublicKeyToken=72eafe5edcac3890" />
				<add assembly="Skelta.InvokeForm, Version=8.0.0.0, Culture=neutral, PublicKeyToken=e1285c44feaf5269" />
				<add assembly="Skelta.SOA.CodeBehind, Version=8.0.0.0, Culture=neutral, PublicKeyToken=88f74e23d5c27238" />
				<add assembly="Skelta.Repository.ListDocumentView, Version=8.0.0.0, Culture=neutral, PublicKeyToken=769c68de6e3030b5" />
				<add assembly="Skelta.Forms.DataSourceProvider, Version=8.0.0.0, Culture=neutral, PublicKeyToken=a4d3d0ca0349a757" />
				<add assembly="Skelta.Repository.List.WorkflowActions, Version=8.0.0.0, Culture=neutral, PublicKeyToken=52a2121cdac6a3b7" />
				<add assembly="Skelta.XmlGenerator, Version=8.0.0.0, Culture=neutral, PublicKeyToken=59ea89b1bb690d48" />
				<add assembly="Skelta.CrossDomain, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b37c2dcb1707b925" />
				<add assembly="Skelta.WorkFlow.Scheduler, Version=8.0.0.0, Culture=neutral, PublicKeyToken=09b5e03a0b7e21c8" />
				<add assembly="Skelta.EntityDataSourceProvider, Version=8.0.0.0, Culture=neutral, PublicKeyToken=35d5e592eeafc8b0" />
				<add assembly="Skelta.Packaging, Version=8.0.0.0, Culture=neutral, PublicKeyToken=c9123b9b77b0583e" />
				<add assembly="SkeltaPersonalizationProvider, Version=8.0.0.0, Culture=neutral, PublicKeyToken=840bf6dc120f88bc" />
				<add assembly="Skelta.WebParts, Version=8.0.0.0, Culture=neutral, PublicKeyToken=bc10944fa2f62aa6" />
				<add assembly="Skelta.SSRS.Utilities, Version=8.0.0.0, Culture=neutral, PublicKeyToken=d1068527caedd591" />
				<add assembly="Skelta.SSRS.Connector.CodeBehind, Version=8.0.0.0, Culture=neutral, PublicKeyToken=6ab038f77ab8270e" />
				<add assembly="Skelta.SSRS.Connector, Version=8.0.0.0, Culture=neutral, PublicKeyToken=198e2f8c1d1c04af" />
				<add assembly="Skelta.SSRS.ActionHandler, Version=8.0.0.0, Culture=neutral, PublicKeyToken=3688245c851fa511" />
				<add assembly="Skelta.Repository.ReplaceUser, Version=8.0.0.0, Culture=neutral, PublicKeyToken=4e1ba7ad1f0daeca" />
				<add assembly="Skelta.Package.CodeBehind, Version=8.0.0.0, Culture=neutral, PublicKeyToken=f2829154633734c0" />
				<add assembly="Skelta.Package.PackageObjects, Version=8.0.0.0, Culture=neutral, PublicKeyToken=2e2bc8596e3b3950" />
				<add assembly="Skelta.Mobile, Version=8.0.0.0, Culture=neutral, PublicKeyToken=ca61c80c904b61b6" />
				<add assembly="Skelta.HWS.WorkListChannel.Mobile, Version=8.0.0.0, Culture=neutral, PublicKeyToken=32f30e95975d886b" />
				<add assembly="ArchestrA.Mobile.Notification.Scheduler, Version=8.0.0.0, Culture=neutral, PublicKeyToken=904d1e5c6e890c53" />
				<add assembly="Microsoft.ServiceBus, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add assembly="ArchestrA.Mobile.Notification.ActionHandler, Version=8.0.0.0, Culture=neutral, PublicKeyToken=9adf90098bc4f790" />
				<add assembly="ArchestrA.Mobile.Notification.ActivityProperty, Version=8.0.0.0, Culture=neutral, PublicKeyToken=10062950db8ed780" />
				<add assembly="ArchestrA.Mobile.Notification.NotificationSender, Version=8.0.0.0, Culture=neutral, PublicKeyToken=26cf1b40eb267d07" />
				<add assembly="Skelta.Scheduler.Calculator, Version=8.0.0.0, Culture=neutral, PublicKeyToken=acb294e4dc038037" />
				<add assembly="Skelta.Package.AdvancedPackageObjects, Version=8.0.0.0, Culture=neutral, PublicKeyToken=03acb103635ffa82" />
				<add assembly="Skelta.Forms2.Web, Version=8.0.0.0, Culture=neutral, PublicKeyToken=ea54697324e6bb7b" />
				<!--<add assembly="System.Net.Http.Formatting, Version=5.2.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />-->
				<add assembly="Telerik.Web.UI, Version=2021.3.1111.45, Culture=neutral,PublicKeyToken=121fae78165ba3d4" />
				<add assembly="Telerik.Web.Design, Version=2021.3.1111.45, Culture=neutral, PublicKeyToken=121fae78165ba3d4" />
				<add assembly="Skelta.WebAPI, Version=8.0.0.0, Culture=neutral, PublicKeyToken=0dd8d0da3e1bdb4d" />
				<add assembly="Skelta.FileDistribution, Version=8.0.0.0, Culture=neutral, PublicKeyToken=1970a9d560b15838" />
				<add assembly="WixSharp, Version=1.19.0.0, Culture=neutral, PublicKeyToken=3775edd25acc43c2" />
				<add assembly="Skelta.Package.WorkflowCorrection, Version=8.0.0.0, Culture=neutral, PublicKeyToken=80f2b01370dc787a" />
				<add assembly="Skelta.BPM.ArchestrAEvents, Version=8.0.0.0, Culture=neutral, PublicKeyToken=63603d8e81fb14c8" />
				<add assembly="Skelta.BPM.CentralConfigBusinessObjects, Version=8.0.0.0, Culture=neutral, PublicKeyToken=4297fc8e48a8d6cd" />
				<add assembly="Skelta.ASTS.Core, Version=8.0.0.0, Culture=neutral, PublicKeyToken=22a99e87e8eb87d0" />
				<add assembly="Owin, Version=1.0.0.0, publicKeyToken=f0ebd12fd5e55cc5, culture=neutral" />
				<add assembly="Microsoft.Owin, Version=4.2.0.0, publicKeyToken=31bf3856ad364e35, culture=neutral" />
				<add assembly="Microsoft.Owin.Security, Version=4.2.2.0, publicKeyToken=31bf3856ad364e35, culture=neutral" />
				<add assembly="Microsoft.Owin.Host.SystemWeb,  Version=4.2.0.0, publicKeyToken=31bf3856ad364e35, culture=neutral" />
				<add assembly="Microsoft.Owin.Security.Cookies,  Version=4.2.2.0, publicKeyToken=31bf3856ad364e35, culture=neutral" />
				<add assembly="Microsoft.IdentityModel.Tokens,  Version=6.15.0.0, publicKeyToken=31bf3856ad364e35, culture=neutral" />
				<add assembly="System.IdentityModel.Tokens.Jwt, Version=6.15.0.0, publicKeyToken=31bf3856ad364e35, culture=neutral" />
				<add assembly="SE.Bpm.Convertors, Version=8.0.0.0, publicKeyToken=6b624361bac97e30, culture=neutral" />
				<add assembly="SE.Bpm.Package.Utilities, Version=8.0.0.0, publicKeyToken=575d2a9dc38663ed, culture=neutral" />
				<add assembly="SE.Bpm.RabbitMQ, Version=8.0.0.0, publicKeyToken=07d212419ef265c3, culture=neutral" />
				<add assembly="SE.Bpm.RabbitMQ.MessageLibrary, Version=8.0.0.0, publicKeyToken=9fe955b7525bc588, culture=neutral" />
				<add assembly="Skelta.Bpm.LogicApp, Version=8.0.0.0, publicKeyToken=fba0f966413c1895, culture=neutral" />
				<add assembly="Skelta.Bpm.Quickflow.Bridge, Version=8.0.0.0, Culture=neutral, PublicKeyToken=03aade495a903503" />
				<add assembly="Aveva.WorkTasks.Drive.Model, Version=8.0.0.0, Culture=neutral, PublicKeyToken=ce2f3d7776b21c1e" />
				<add assembly="Aveva.WorkTasks.Plugin, Version=8.0.0.0, Culture=neutral, PublicKeyToken=e17ea8736e0943d0" />
				<add assembly="Aveva.WorkTasks.Logger, Version=8.0.0.0, Culture=neutral, PublicKeyToken=682cdc8f16290ad6" />
				<add assembly="netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" />
			</assemblies>
		</compilation>
		<httpRuntime targetFramework="4.8" encoderType="HtmlAttributeEncodingNot" maxQueryStringLength="9000" enableVersionHeader="false" enableHeaderChecking="false" />
		<!--Manual Added-->
		<membership>
			<providers>
				<add name="SkeltaMemberShipProvider" type="SkeltaMemberShipProvider" />
			</providers>
		</membership>
		<webParts>
			<personalization defaultProvider="SkeltaPersonalizationProvider">
				<providers>
					<add name="SkeltaPersonalizationProvider" type="SkeltaPersonalizationProvider.SkeltaPersonalizationProvider" />
				</providers>
				<authorization>
					<allow users="*" verbs="enterSharedScope" />
				</authorization>
			</personalization>
		</webParts>
		<customErrors mode="RemoteOnly" defaultRedirect="error.html" />
		<!--Manual Added-->
		<httpHandlers>
			<add verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
			<add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
		</httpHandlers>
	</system.web>
	<!--Manual Added-->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<httpProtocol>
			<customHeaders>
				<remove name="Server" />
				<remove name="X-AspNet-Version" />
				<remove name="X-AspNetMvc-Version" />
				<remove name="X-Powered-By" />
			</customHeaders>
		</httpProtocol>
		<security>
			<requestFiltering>
				<requestLimits maxQueryString="9000" />
			</requestFiltering>
		</security>
		<staticContent>
			<remove fileExtension=".woff" />
			<mimeMap fileExtension=".woff" mimeType="application/font-woff" />
		</staticContent>
		<handlers>
			<add name="ReportViewerWebControl" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
			<add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" />
		</handlers>
	</system.webServer>
	<!--Manual Added-->
	<system.web.extensions>
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="4096000" />
			</webServices>
		</scripting>
	</system.web.extensions>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
</configuration>