<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings>
    <add key="customError" value="On"/>
    <add key="UPLOADLIMIT" value="10485760"/>
    <add key="ReportViewerMessages" value="Skelta.Forms.Web.SSRS.SSRSReportViewerMessages, Skelta.Forms.Web, Version=8.0.0.0, Culture=neutral, PublicKeyToken=c77871940edc2650" />
  </appSettings>

  <system.web>
    <httpRuntime maxRequestLength="2097150"/>

    <!--customErrors  mode="Off" defaultRedirect="Common/CustomErrors.aspx"></customErrors-->

    <compilation>
      <expressionBuilders>
        <add expressionPrefix="ReplaceTemplateExpn" type="Workflow.NET.TemplateExpressionBuilder"/>
      </expressionBuilders>
    </compilation>
  </system.web>
  <!-- 
	<pages validateRequest="false" enableEventValidation="false"/>-->
  <location path="Repository/Site/RepositoryList.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <staticContent>
      <clientCache  cacheControlCustom="must-revalidate" cacheControlMode="UseMaxAge" cacheControlMaxAge="0.01:00:00" />
    </staticContent>
  </system.webServer>
</configuration>