@font-face {
    font-family: "Roboto";
    src: url("../../../../../Common/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-weight: bold;
    font-style: italic;
    src: url("../../../../../Common/fonts/Roboto/Roboto-BoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: italic;
    src: url("../../../../../Common/fonts/Roboto/Roboto-italic.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-weight: bold;
    src: url("../../../../../Common/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}
.SkeltaEditor
{
  /* reWrapper */
  /* common settings for .reModule, .reEditorModes and .reWrapper */
  /* end of module */
  /*Toolbar sprites*/
  /* .reTool_text */
  /* these settings will not be included in the common CSS file of RadEditor */
  /* end of reTool_text */
  /* add weight to the selector for IE6 so it is applied */
  /* end of reSplitButton */
  /* reDropdown */
  /* end of reDropdown */
  /* InsertTable itself is a kind of tool strip, so it must be styled as a toolstrip */
  /* end of context menu and toolstrip */
  /* spinbox */
  /* end of spinbox */
  /* DOM inspector */
  /* end of DOM inspector */
  /* end of expanded dropdowns */
  /* color picker */
  /* end of color picker */
  /* ajax spellchecker */
  /* ajax spellchecker */
  /* custom links */
  /* end of custom links */
  /* insert table dropdown */
  /* end of insert table dropdown */
  /* Popup Comments */
  /* Commnet popups */
  /* Right to Left */ 

  

}
  .SkeltaEditor.RadEditor, .SkeltaEditor.RadEditor .reModule, .SkeltaEditor.RadEditor .reEditorModes, .SkeltaEditor.RadEditor .reWrapper {
    background-color: #eeeeee; }
  .SkeltaEditor .reEmptyMessage {
    color: #a5a5a5; }
  .SkeltaEditor.reWrapper, .SkeltaEditor.RadEditor .reContentCell, .SkeltaEditor.reColorPicker, .SkeltaEditor.reInsertTable, .SkeltaEditor.reDropDownBody, .SkeltaEditor.reCustomLinks a:hover {
    border: 1px solid #cccccc; 
    font-size:12px !important;   
  }
  .SkeltaEditor.RadEditor .reContentCell {
    font-size:12px !important;
    /*background-color: white;
    background:transparent;
    border:solid 3px #cccccc;*/
  }
  .SkeltaEditor.reDropDownBody table {
    background: transparent; }
  .SkeltaEditor.RadEditor .reModule {
    border-top: 1px solid #828282; }
  .SkeltaEditor.reCustomLinks a, .SkeltaEditor.reCustomLinks a:link, .SkeltaEditor.reCustomLinks a:visited {
    border: 1px solid white;
    /* should be the same as the background of the dropdown */
    color: #333333 !important; }
  .SkeltaEditor.reCustomLinks a:hover {
    background-color: #e5e5e5;
    border: 1px solid #8a8a8a; }
  .SkeltaEditor .reToolbar li,
  .SkeltaEditor .reSpinBox a, .SkeltaEditor.reToolbar .reSeparator, .SkeltaEditor.reToolbar .reGrip,
  .SkeltaEditor .reDialog .reTool,
  .SkeltaEditor .reModule .reTool,
  .SkeltaEditor .reDialog .reTool:hover,
  .SkeltaEditor .reToolbar .reTool:hover,
  .SkeltaEditor .reModule .reTool:hover,
  .SkeltaEditor .reToolbar .reTool.reTool_selected,
  .SkeltaEditor .reToolbar .reTool.reTool_selected:hover,
  .SkeltaEditor .reToolbar .reTool_text:hover,
  .SkeltaEditor .reToolbar .reTool_text.reTool_selected,
  .SkeltaEditor .reToolbar .reTool_text.reTool_selected:hover,
  .SkeltaEditor .reTool .split_arrow,
  .SkeltaEditor .reSplitButton.reTool_text .split_arrow,
  .SkeltaEditor .reToolbar .reTool_text .split_arrow,
  .SkeltaEditor .reDialog .reTool.reSplitButton,
  .SkeltaEditor .reModule .reTool.reSplitButton,
  .SkeltaEditor .reDropdown,
  .SkeltaEditor .reTool_disabled.reDropdown:hover,
  .SkeltaEditor .reResizeCell div, .SkeltaEditor.reInsertTable .reToolbar li .reTool:hover, .SkeltaEditor.RadEditor.reRtl .reDropdown:hover {
    background-image: url('ToolbarSprites.gif'); }
  .SkeltaEditor.RadEditor .reTlbVertical li,
  .SkeltaEditor .reDropdown:hover, .SkeltaEditor.RadEditor .reTlbVertical .reToolbar.SkeltaEditor .reGrip, .SkeltaEditor.RadEditor.reTlbVertical .reToolbar.SkeltaEditor .reSeparator,
  .SkeltaEditor .reTlbVertical .reTool:hover,
  .SkeltaEditor .reTlbVertical .reTool_text.reSplitButton:hover,
  .SkeltaEditor .reTlbVertical .reSplitButton:hover,
  .SkeltaEditor .reTlbVertical .reTool_text:hover,
  .SkeltaEditor .reTlbVertical .reTool.reTool_selected,
  .SkeltaEditor .reTlbVertical .reTool_text.reTool_selected,
  .SkeltaEditor .reTlbVertical .reTool_text.reTool_selected:hover,
  .SkeltaEditor .reMode_selected, a.reTool_text:hover {
    background-image: url('ToolbarVerticalSprites.gif'); 
    /*background-color:#e5e5e5;*/    
  }
  .SkeltaEditor .SkeltaEditor.reDropDownBody :hover
  {
      background-color:#e5e5e5 !important;
  }
  .SkeltaEditor .reToolbar li {
    color: #333333; }
  .SkeltaEditor .reToolbar .reTool_text:hover,
  .SkeltaEditor .reToolbar .reTool_text.reTool_selected,
  .SkeltaEditor .reToolbar .reTool_text.reTool_selected:hover {
    border-left: 1px solid #515151;
    border-right: 1px solid #515151; }
  .SkeltaEditor .reToolbar .reTool_text.reTool_disabled,
  .SkeltaEditor .reToolbar .reTool_text.reTool_disabled:hover {
    margin-left: 0;
    margin-right: 0;
    border: 0; }
  .SkeltaEditor .reToolbar .reTool.reSplitButton.reTool_disabled:hover {
    _background: none; }
  .SkeltaEditor .reDropdown:link,
  .SkeltaEditor .reDropdown:visited {
    color: #333333 !important; }
  .SkeltaEditor .reDropdown,
  .SkeltaEditor .reTool_disabled.reDropdown:hover {
    border: 1px solid #8a8a8a;
    background-color: white; }
  .SkeltaEditor .reDropdown:hover {
    border-color: #515151; }
  .SkeltaEditor.reDropDownBody .reTlbVertical .reToolbar {
    background-color: white; }
  .SkeltaEditor table.reSpinBox, .SkeltaEditor.RadEditor input {
    border-color: #8a8a8a;
    background-color: white; }
  .SkeltaEditor table.reSpinBox:hover, .SkeltaEditor.RadEditor input:hover {
    border: 1px solid #515151; }
  .SkeltaEditor .reModule_domlink_selected,
  .SkeltaEditor .reModule_domlink {
    color: #333333; }
  .SkeltaEditor.reDropDownBody .reItemOver {
    background: #e0e0e0;
    color: black; }
  .SkeltaEditor.reColorPicker table div, .SkeltaEditor.reColorPicker span {
    border: 1px solid #828282; }
  .SkeltaEditor.reColorPicker table td.reItemOver div {
    border-color: #333333; }
  .SkeltaEditor .reAjaxspell_button {
    border: 1px solid #8a8a8a;
    background-color: #fafafa;
    color: #333333; }
  .SkeltaEditor .reAjaxSpellCheckSeparator {
    background-color: white; }
  .SkeltaEditor.reCustomLinks, .SkeltaEditor.reCustomLinks ul {
    color: #333333; }
  .SkeltaEditor.reCustomLinks a {
    background: none transparent;
    color: #333333;
    cursor: default !important; }
  .SkeltaEditor.reCustomLinks a:hover {
    color: white; }
  .SkeltaEditor.reInsertTable table {
    background-color: white; }
  .SkeltaEditor.reInsertTable table td {
    border: 1px solid #8a8a8a;
    background-color: white; }
  .SkeltaEditor.reInsertTable .reTlbVertical ul {
    background-color: white; }
  .SkeltaEditor.reDropDownBody.reInsertTable div.reTlbVertical a.reTool_text, .SkeltaEditor.reDropDownBody.reInsertTable div.reTlbVertical a.reTool_text:link, .SkeltaEditor.reDropDownBody.reInsertTable div.reTlbVertical a.reTool_text:visited {
    color: #333333 !important;
    background: transparent none;
    _background: none !important; }
  .SkeltaEditor .reCommentEdit,
  .SkeltaEditor .reCommentTextArea,
  .SkeltaEditor .reCommentView,
  .SkeltaEditor .reCommentInfoPanel {
    border-color: transparent;
    background-color: #eeeeee; }
  .SkeltaEditor .reCommentTitle,
  .SkeltaEditor .reCommentInfoPanel {
    color: #333333; }
  .SkeltaEditor .reCommentTextArea {
    border-color: #828282;
    background-color: #eeeeee; }
  .SkeltaEditor.RadEditor .reCommentButton,
  .SkeltaEditor .rePopupButtonContainer .rePopupButton {
    color: #333333;
    border-color: #d0d0d0 #a2a2a2 #8b8b8b #a2a2a2;
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: -moz-linear-gradient(top, #faf9f9 0%, #e8e8e8 100%);
    /* FF3.6+ */
    background: -webkit-linear-gradient(top, #faf9f9 0%, #e8e8e8 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #faf9f9 0%, #e8e8e8 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #faf9f9 0%, #e8e8e8 100%);
    /* IE10+ */
    background: linear-gradient(top, #faf9f9 0%, #e8e8e8 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faf9f9', endColorstr='#e8e8e8',GradientType=0 );
    /* IE6-8 */ }
  .SkeltaEditor.RadEditor .reCommentButton:hover,
  .SkeltaEditor .rePopupButtonContainer .rePopupButton:hover {
    color: #333333;
    border-color: #d1d1d1 #b8b8b8 #a3a3a3 #bbb;
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: -moz-linear-gradient(top, #e0e0e0 0%, #e5e5e5 100%);
    /* FF3.6+ */
    background: -webkit-linear-gradient(top, #e0e0e0 0%, #e5e5e5 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e0e0e0 0%, #e5e5e5 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e0e0e0 0%, #e5e5e5 100%);
    /* IE10+ */
    background: linear-gradient(top, #e0e0e0 0%, #e5e5e5 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0e0e0', endColorstr='#e5e5e5',GradientType=0 );
    /* IE6-8 */ }
  .SkeltaEditor.RadEditor .reCommentButton:active,
  .SkeltaEditor .rePopupButtonContainer .rePopupButton:active {
    border-color: #b6b6b6 #9e9e9e #898989 #9b9b9b;
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: -moz-linear-gradient(top, #c7c7c7 0%, #dedede 100%);
    /* FF3.6+ */
    background: -webkit-linear-gradient(top, #c7c7c7 0%, #dedede 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #c7c7c7 0%, #dedede 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #c7c7c7 0%, #dedede 100%);
    /* IE10+ */
    background: linear-gradient(top, #c7c7c7 0%, #dedede 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c7c7c7', endColorstr='#dedede',GradientType=0 );
    /* IE6-8 */ }
  .SkeltaEditor.rePopupContainer {
    border-color: #8a8a8a;
    background-color: #eeeeee; }
  .SkeltaEditor.rePopupContainer .rePopupTitle {
    color: #333333;
    border-color: #8a8a8a;
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: -moz-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    /* FF3.6+ */
    background: -webkit-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    /* IE10+ */
    background: linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#eaeaea',GradientType=0 );
    /* IE6-8 */ }
  .SkeltaEditor.RadEditor.reRtl .reTool .split_arrow:hover {
    border-right-color: #515151; }
  .SkeltaEditor.RadEditor.reRtl .reDropdown:hover {
    background-color: #dfdfdf; }

/* the rule below styles RadWindow's content cell, which is used in the floating and show on focus toolbar modes */
.RadWindow.RadWindow_Default.reToolbarWindow td.rwWindowContent,
.RadWindow.RadWindow_Default.reToolbarWindow div.rwContent {
  background-color: #eeeeee; }

.RadWindow_Default .reInsertTableLightWrapper .lightTable {
  border-color: #828282; }

.SkeltaEditor .reTool.reSplitButton:hover {
  background-image: url('ToolbarSprites.gif'); }

/* reTool */
.reTool span,
.SkeltaEditor.reInsertTable .reTlbVertical ul .reTool_text span,
.reToolbar .reTool_text span {
  background-image: url('CommandSpritesLight.png'); }

/* IE6 does not support PNG alpha channel, so we use gifs for the command sprites instead */
.reTool span,
.reTool_text span,
.SkeltaEditor .reTlbVertical .reTool_text span,
.reToolbar .reSplitButton.reTool_text span {
  _background-image: url('CommandSpritesLightIE6.gif'); }

.reTool .split_arrow:hover {
  border-left-color: #515151; }
body {
    font-size: 14px;
    font-family: "Roboto", "Segoe UI", "Arial", "Verdana" !important;
}

